.page-body {
  #card1 {
    margin-top: 15px;
    height: 1230px;
    hr {
      background-color: #ff3400;
      opacity: 1;
      height: 0.9px;
      margin-top: -2px;
    }
    margin-top: 100px;
    .row1 {
      margin-top: 50px;
      background: #efefef;
      opacity: 1;
      width: 350px;
      margin-left: 0px;
      .col1 {
        h6 {
          text-align: left;
          font: Medium 20px/30px Poppins;
          letter-spacing: 0px;
          color: #343434;
          opacity: 1;
          margin-top: 8px;
          margin-left: -3px;
          font-size: small;
        }
      }
      .col2 {
        .addcircle {
          margin-top: 6px;
          color: #2699fb;
          margin-left: 130px;
          cursor: pointer;
        }
      }
    }
    .row2 {
      margin-top: 160px;
      background: #efefef;
      opacity: 1;
      width: 350px;
      margin-left: 0px;
      .col3 {
        h6 {
          text-align: left;
          font: Medium 20px/30px Poppins;
          letter-spacing: 0px;
          color: #343434;
          opacity: 1;
          margin-top: 8px;
          margin-left: -3px;
          font-size: small;
        }
      }
      .col4 {
        .addcircle {
          margin-top: 6px;
          color: #2699fb;
          margin-left: 130px;
          cursor: pointer;
        }
      }
    }
    .row3 {
      background: #efefef;
      opacity: 1;
      width: 350px;
      margin-left: 0px;
      margin-top: 240px;
      .col5 {
        h6 {
          text-align: left;
          font: Medium 20px/30px Poppins;
          letter-spacing: 0px;
          color: #343434;
          opacity: 1;
          margin-top: 8px;
          margin-left: -3px;
          font-size: small;
        }
      }
      .col6 {
        .addcircle {
          margin-top: 6px;
          color: #2699fb;
          margin-left: 130px;
          cursor: pointer;
        }
      }
    }
  }
  //----------Banque card-------//
  #Principale {
    margin-top: 30px;
    #Premier {
      .card-body {
        .card-img-top {
          height: 30px;
          width: 30px;
        }
        .text {
          margin-left: -10px;
          .HeadTextS {
            text-align: left;
            font: Medium 15px/23px Poppins;
            letter-spacing: 0px;
            color: #484848;
            opacity: 1;
            font-size: small;
            font-weight: bold;
          }
          .ResponseText {
            text-align: left;
            font: Medium 12px/18px Poppins;
            letter-spacing: 0px;
            color: #aeaeae;
            opacity: 1;
            font-size: 10px;
          }
          .HeadText {
            text-align: left;
            font: Medium 15px/23px Poppins;
            letter-spacing: 0px;
            color: #484848;
            opacity: 1;
            font-size: 10px;
          }
        }
        button {
          border: 1px solid #497dd5;
          border-radius: 5px;
          opacity: 1;
          margin-left: 10px;
          padding: 3px;
        }
        .moreVert {
          margin-left: -4px;
          margin-top: 40px;
        }
      }
    }
    #Second {
      .card-body {
        .card-img-top {
          height: 30px;
          width: 30px;
        }
        .text {
          margin-left: -10px;
          .HeadTextS {
            text-align: left;
            font: Medium 15px/23px Poppins;
            letter-spacing: 0px;
            color: #484848;
            opacity: 1;
            font-size: small;
            font-weight: bold;
          }
          .ResponseText {
            text-align: left;
            font: Medium 12px/18px Poppins;
            letter-spacing: 0px;
            color: #aeaeae;
            opacity: 1;
            font-size: 10px;
          }
          .HeadText {
            text-align: left;
            font: Medium 15px/23px Poppins;
            letter-spacing: 0px;
            color: #484848;
            opacity: 1;
            font-size: 10px;
          }
        }
        button {
          border: 1px solid #497dd5;
          border-radius: 5px;
          opacity: 1;
          margin-left: 10px;
          padding: 3px;
        }
        .moreVert {
          margin-left: -4px;
          margin-top: 40px;
        }
      }
    }
  }

  #Troisieme {
    margin-top: 30px;
    .card-body {
      .card-img-top {
        height: 30px;
        width: 30px;
      }
      .text {
        .HeadTextS {
          text-align: left;
          font: Medium 15px/23px Poppins;
          letter-spacing: 0px;
          color: #484848;
          opacity: 1;
          font-size: 10px;
          margin-top: 8px;
        }
      }
      button {
        border: 1px solid #497dd5;
        border-radius: 5px;
        opacity: 1;
        margin-left: 27px;
        padding: 3px;
      }
      .moreVert {
        margin-left: -4px;
      }
    }
  }
}
#Quatrieme {
  margin-top: 30px;
  .card-body {
    .card-img-top {
      height: 30px;
      width: 30px;
    }
    .text {
      .HeadTextS {
        text-align: left;
        font: Medium 15px/23px Poppins;
        letter-spacing: 0px;
        color: #484848;
        opacity: 1;
        font-size: 10px;
        margin-top: 8px;
      }
    }
    button {
      border: 1px solid #497dd5;
      border-radius: 5px;
      opacity: 1;
      margin-left: 27px;
      padding: 3px;
    }
    .moreVert {
      margin-left: -4px;
    }
  }
}
#Cinquieme {
  .card-body {
    .card-img-top {
      height: 30px;
      width: 30px;
    }
    .text {
      .HeadTextS {
        text-align: left;
        font: Medium 15px/23px Poppins;
        letter-spacing: 0px;
        color: #484848;
        opacity: 1;
        font-size: 10px;
        margin-top: 8px;
      }
    }
    button {
      border: 1px solid #497dd5;
      border-radius: 5px;
      opacity: 1;
      margin-left: 27px;
      padding: 3px;
    }
    .moreVert {
      margin-left: -4px;
    }
  }
}
#sixieme {
  .card-body {
    .card-img-top {
      height: 30px;
      width: 30px;
    }
    .text {
      .HeadTextS {
        text-align: left;
        font: Medium 15px/23px Poppins;
        letter-spacing: 0px;
        color: #484848;
        opacity: 1;
        font-size: 10px;
        margin-top: 8px;
      }
    }
    button {
      border: 1px solid #497dd5;
      border-radius: 5px;
      opacity: 1;
      margin-left: 27px;
      padding: 3px;
    }
    .moreVert {
      margin-left: -4px;
    }
  }
}
// ---------------side-------------------//

#container {
  //-----------card1-----//
  .card1 {
    height: 350px;
    width: 20px;
    margin-top: 160px;
    .row {
      box-shadow: 0px 3px 6px #00000029;
      opacity: 1;
      width: 320px;
      margin-left: 0px;
      .col7 {
        margin-left: 70px;
        .AddBank {
          margin-top: 9px;
          text-align: left;
          font: Regular 20px/30px Poppins;
          letter-spacing: 0px;
          color: #484848;
          opacity: 1;
        }
      }
      .col8 {
        margin-right: -150px;
        .cancel {
          margin-top: 5px;
          color: red;
          cursor: pointer;
        }
      }
    }
  }

  #form {
    .input-group-text {
      background: #ffffff 0% 0% no-repeat padding-box;
      border: 0.5px solid #497dd5;
      opacity: 1;
      text-align: left;
      font: Medium 15px/23px Poppins;
      letter-spacing: 0px;
      color: #3a3a3a;
      opacity: 1;
      font-size: small;
      margin-top: 20px;
      font-weight: 600;
    }
    #inputState {
      background: #f9f9f9 0% 0% no-repeat padding-box;
      border: 0.5px solid #497dd5;
      opacity: 1;
      margin-top: 20px;
    }
    .form2 {
      label {
        text-align: left;
        font: Medium 15px/23px Poppins;
        letter-spacing: 0px;
        color: #3a3a3a;
        opacity: 1;
        margin-top: 10px;
        margin-left: 20px;
        font-weight: 600;
      }
      input {
        background: #f9f9f9 0% 0% no-repeat padding-box;
        border: 0.5px solid #497dd5;
        opacity: 1;
        margin-left: 20px;
        width: 284px;
      }
      button {
        background: #ffffff 0% 0% no-repeat padding-box;
        border: 1px solid #497dd5;
        border-radius: 6px;
        opacity: 1;
        margin-left: 130px;
        text-align: left;
        font: Medium 15px/23px Poppins;
        letter-spacing: 0px;
        color: #497dd5;
        opacity: 1;
        font-weight: 600;
      }
    }
  }
  //-----------card2-----//
  .card2 {
    height: 390px;
    width: 100px;
    height: 350px;
    margin-top: 70px;
    .row2 {
      box-shadow: 0px 3px 6px #00000029;
      opacity: 1;
      width: 320px;
      margin-left: 0px;
      .col9 {
        margin-left: 70px;
        .AddBank {
          margin-top: 9px;
          text-align: left;
          font: Regular 20px/30px Poppins;
          letter-spacing: 0px;
          color: #484848;
          opacity: 1;
        }
      }
      .col10 {
        margin-right: -155px;
        .cancel {
          margin-top: 5px;
          color: red;
          cursor: pointer;
        }
      }
    }
  }
}

#form2 {
  .input-group-text {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 0.5px solid #497dd5;
    opacity: 1;
    text-align: left;
    font: Medium 15px/23px Poppins;
    letter-spacing: 0px;
    color: #3a3a3a;
    opacity: 1;
    font-size: small;
    margin-top: 20px;
    font-weight: 600;
  }
  #inputState {
    background: #f9f9f9 0% 0% no-repeat padding-box;
    border: 0.5px solid #497dd5;
    opacity: 1;
    margin-top: 20px;
  }
  label {
    text-align: left;
    font: Medium 15px/23px Poppins;
    letter-spacing: 0px;
    color: #3a3a3a;
    opacity: 1;
    margin-top: 10px;
    margin-left: 15px;
    font-weight: 600;
  }
  input {
    background: #f9f9f9 0% 0% no-repeat padding-box;
    border: 0.5px solid #497dd5;
    opacity: 1;
    margin-left: 20px;
    width: 284px;
  }
  .form2 {
    label {
      text-align: left;
      font: Medium 15px/23px Poppins;
      letter-spacing: 0px;
      color: #3a3a3a;
      opacity: 1;
      margin-top: 10px;
      margin-left: 15px;
      font-weight: 600;
    }

    #exampleInput1 {
      background: #f9f9f9 0% 0% no-repeat padding-box;
      border: 0.5px solid #497dd5;
      opacity: 1;
      width: 125px;
      margin-left: 14px;
    }
    button {
      background: #ffffff 0% 0% no-repeat padding-box;
      border: 1px solid #497dd5;
      border-radius: 6px;
      opacity: 1;
      margin-left: 130px;
      text-align: left;
      font: Medium 15px/23px Poppins;
      letter-spacing: 0px;
      color: #497dd5;
      opacity: 1;
      font-weight: 600;
    }
  }
}
//------------card3---------------------------//
.card3 {
  height: 250px;
  .row {
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    width: 320px;
    margin-left: 0px;
    .col11 {
      margin-left: 50px;
      .AddBank {
        margin-top: 9px;
        text-align: left;
        font: Regular 20px/30px Poppins;
        letter-spacing: 0px;
        color: #484848;
        opacity: 1;
      }
    }
    .col12 {
      margin-right: -158px;
      .cancel {
        margin-top: 5px;
        color: red;
        cursor: pointer;
      }
    }
  }
}
