<div class="page-body">
  <div class="row">
    <div class="col">
      <div class="card" id="card1" style="width: 45rem;">
        <hr />
        <div class="row row1">
          <div class="col col1">
            <h6>Bank Account</h6>
          </div>
          <div class="col col2">
            <mat-icon class="addcircle" (click)="AfficheAddBank()"
              >add_circle</mat-icon
            >
          </div>
        </div>
        <div class="container" id="Principale">
          <div class="row">
            <div class="col" id="Premier">
              <div class="card" style="width: 20rem;">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <img
                        src="assets\PAYMENTS\bank.png"
                        class="card-img-top"
                        alt="..."
                      />
                    </div>
                    <div class="col text">
                      <h6 class="HeadTextS">Fidelity Bank</h6>
                      <h6 class="HeadText">Account number</h6>
                      <h6 class="ResponseText">002551105896321</h6>
                      <h6 class="HeadText">Account name</h6>
                      <h6 class="ResponseText">Fanou louis Albert</h6>
                    </div>
                    <div class="col">
                      <button type="button" class="btn btn-light btn-sm">
                        primary
                      </button>
                    </div>
                    <div class="col moreVert">
                      <mat-icon>more_vert</mat-icon>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col" id="Second">
              <div class="card" style="width: 20rem;">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <img
                        src="assets\PAYMENTS\bank.png"
                        class="card-img-top"
                        alt="..."
                      />
                    </div>
                    <div class="col text">
                      <h6 class="HeadTextS">Fidelity Bank</h6>
                      <h6 class="HeadText">Account number</h6>
                      <h6 class="ResponseText">002551105896321</h6>
                      <h6 class="HeadText">Account name</h6>
                      <h6 class="ResponseText">Fanou louis Albert</h6>
                    </div>
                    <div class="col"></div>
                    <div class="col moreVert">
                      <mat-icon>more_vert</mat-icon>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row row2">
          <div class="col col3"><h6>Visa/Mastercard</h6></div>
          <div class="col col4">
            <mat-icon class="addcircle" (click)="AfficheAddVisa()"
              >add_circle</mat-icon
            >
          </div>
        </div>
        <div class="col" id="Troisieme">
          <div class="card" style="width: 20rem;">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <img
                    src="assets\PAYMENTS\Visa-icon.png"
                    class="card-img-top"
                    alt="..."
                  />
                </div>
                <div class="col text">
                  <h6 class="HeadTextS">Debit....4565</h6>
                </div>
                <div class="col">
                  <button type="button" class="btn btn-light btn-sm">
                    primary
                  </button>
                </div>
                <div class="col moreVert">
                  <mat-icon>more_vert</mat-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row row3">
          <div class="col col5"><h6>Mobile wallet number</h6></div>
          <div class="col col6">
            <mat-icon class="addcircle" (click)="AfficheAddMobile()"
              >add_circle</mat-icon
            >
          </div>
        </div>
        <div class="col" id="Quatrieme">
          <div class="card" style="width: 20rem;">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <img
                    src="assets\PAYMENTS\MTN-logo-459AAF9482-seeklogo.com.png"
                    class="card-img-top"
                    alt="..."
                  />
                </div>
                <div class="col text">
                  <h6 class="HeadTextS">Debit....4565</h6>
                </div>
                <div class="col">
                  <button type="button" class="btn btn-light btn-sm">
                    primary
                  </button>
                </div>
                <div class="col moreVert">
                  <mat-icon>more_vert</mat-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col" id="Cinquieme">
          <div class="card" style="width: 20rem;">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <img
                    src="assets\PAYMENTS\TVeaW-B1_400x400.png"
                    class="card-img-top"
                    alt="..."
                  />
                </div>
                <div class="col text">
                  <h6 class="HeadTextS">Debit....4565</h6>
                </div>
                <div class="col"></div>
                <div class="col moreVert">
                  <mat-icon>more_vert</mat-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col" id="sixieme">
          <div class="card" style="width: 20rem;">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <img
                    src="assets\PAYMENTS\vodafone-512.png"
                    class="card-img-top"
                    alt="..."
                  />
                </div>
                <div class="col text">
                  <h6 class="HeadTextS">Debit....4565</h6>
                </div>
                <div class="col"></div>
                <div class="col moreVert">
                  <mat-icon>more_vert</mat-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col" id="container">
      <div class="col card1">
        <div
        class="card "
        *ngIf="AfficheAddbank"
        style="width: 20rem"
      >
        <div class="row">
          <div class="col col7">
            <h6 class="AddBank">Add Bank Account</h6>
          </div>
          <div class="col col8">
            <mat-icon class="cancel">cancel</mat-icon>
          </div>
        </div>
        <form id="form">
          <div class="form-row">
            <div class="col">
              <div class="col-auto">
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">Select your Bank</div>
                  </div>
                  <select id="inputState" class="form-control">
                    <option selected></option>
                    <option>...</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="form2">
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Bank Account number</label>
                <input
                  type="email"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                />
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1"
                  >Full legal name of account holder</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="exampleInputPassword1"
                />
              </div>
            </form>
            <button type="button" class="btn btn-light">Add</button>
          </div>
        </form>
      </div>

      </div>
     
      <div class="col  card2" >
        <div class="card " *ngIf="AfficheAddvisa" style="width: 20rem">
          <div class="row row2">
            <div class="col col9">
              <h6 class="AddBank">Add Visa/Mastercard</h6>
            </div>
            <div class="col col10">
              <mat-icon class="cancel">cancel</mat-icon>
            </div>
          </div>
          <form id="form2">
            <div class="form-row">
              <div class="col">
                <div class="form-group">
                  <label for="exampleInputEmail1">Card number</label>
                  <input
                    type="email"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                  />
                </div>
              </div>
            </div>
            <div class="form2">
              <form>
                <div class="form-group">
                  <div class="row ">
                    <div class="col">
                      <label for="exampleInputEmail1">Expired date</label>
                      <input
                        type="date"
                        class="form-control"
                        id="exampleInput1"
                        aria-describedby="emailHelp"
                      />
                    </div>
                    <div class="col">
                      <label for="exampleInputEmail1">Security code</label>
                      <input
                        type="email"
                        class="form-control"
                        id="exampleInput1"
                        aria-describedby="emailHelp"
                      />
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1"
                    >Full legal name of card holder</label
                  >
                  <input
                    type="password"
                    class="form-control"
                    id="exampleInputPassword1"
                  />
                </div>
              </form>
              <button type="button" class="btn btn-light">Add</button>
            </div>
          </form>
        </div>
      </div>
      <div
        class="card card3"
        *ngIf="AfficheAddmobile"
        style="width: 20rem;margin-top: 40px;"
      >
        <div class="row">
          <div class="col col11">
            <h6 class="AddBank">Add Mobile wallet Account</h6>
          </div>
          <div class="col col12">
            <mat-icon class="cancel">cancel</mat-icon>
          </div>
        </div>
        <form id="form">
          <div class="form-row">
            <div class="col">
              <div class="col-auto">
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">Select Network</div>
                  </div>
                  <select id="inputState" class="form-control">
                    <option selected></option>
                    <option>...</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="form2">
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Mobile wallet number</label>
                <input
                  type="email"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                />
              </div>
            </form>
            <button type="button" class="btn btn-light">Add</button>
          </div>
        </form>
      </div>

      
    </div>
  </div>
</div>
