.container {
  display: flex;
  justify-content: center;
  .card-body {
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
    h4 {
      font-family: docs-Roboto - 700;
      font-style: normal;
      font-weight: 700;
      color:#007bff;
      font-size: 17px;
    }
    .PivatePolicy{
      font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
      font-weight: 400;
      font-size: 25px;
      color: #000000;
    }
    .P1{
      font-size: Arial;
      font-weight: 600;
      font-size: 14px;
      color: #000000;
    }
    p {
      font-size: Arial;
      font-weight: 500;
      font-size: 15px;
    }
  }
}
