<div class="container">
  <div class="card" style="width: 50rem;">
    <div class="card-body">
      <h4 class="PivatePolicy">
        Privacy Policy
      </h4>
      <p class="P1">
        This privacy policy has been compiled to better serve those who are
        concerned with how their 'Personally Identifiable Information' (PII) is
        being used online. Please read our privacy policy carefully to get a clear
        understanding of how we collect, use, protect or otherwise handle your
        Personally Identifiable Information in accordance with our website.
      </p>
      <h4>
        What personal information do we collect from the people that visit our
         blog,
        website or app?
      </h4>
      <p>
        When ordering or registering on our site, as appropriate, you may be asked
        to enter your personal or other details to help you with your experience.
      </p>
      <h4>
        When do we collect information?
      </h4>
      <p>
        We collect information from you when you or enter information on our site.
      </p>
      <h4>
        How do we use your information?
      </h4>
      <p>
        We may use the information we collect from you when you register, make a
        purchase, sign up for our newsletter, respond to a survey or marketing
        communication, surf the website, or use certain other site features in the
        following ways:
      </p>
      <h4>
        How do we protect your information?
      </h4>
      <p>
        SSL is enabled on our site to allow you transfer information safely and
        securely. We also confirm with PCI standards to properly protect your
        sensitive financial information like credit cards.
      </p>
      <h4>
        Do we use 'cookies'?
      </h4>
      <p>
        Except for convenience such as not having to login all the time on your
        website, we avoid the use of cookies for tracking or otherwise any other
        purposes than making your user experience convenient. You may choose to
        remember or not remember your login.
      </p>
      <h4>
        Third-party disclosure
      </h4>
      <p>
        We do not sell, trade, or otherwise transfer to outside parties your
        Personally Identifiable Information unless we provide users with advance
        notice. This does not include users or merchants you buy services from,
        website hosting partners and other parties who assist us in operating our
        website, conducting our business, or serving our users, so long as those
        parties agree to keep this information confidential. We may also release
        information when it's release is appropriate to comply with the law, enforce
        our site policies, or protect ours or others' rights, property or safety.
        However, non-personally identifiable visitor information may be provided to
        other parties for marketing, advertising, or other uses.
      </p>
      <h4>
        Third-party links
      </h4>
      <p>
        We currently do not include or offer third-party products or services on our
        website but may do so in the future.
      </p>
      <h4>
        We agree to the following:
      </h4>
      <p>
        Users can visit our site anonymously. Once this privacy policy is created,
        we will add a link to it on our home page or as a minimum, on the first
        significant page after entering our website. Our Privacy Policy link
        includes the word 'Privacy' and can be easily be found on the page specified
        above.
      </p>
      <h4>
        You will be notified of any Privacy Policy changes:
      </h4>
      <p>
        • On our Privacy Policy Page Can change your personal information: • By
        logging in to your account Does our site allow third-party behavioral
        tracking? It's also important to note that we do not allow third-party
        behavioral tracking
      </p>
      <h4>
        Fair Information Practices
      </h4>
      <p>
        In order to be in line with Fair Information Practices we will take the
        following responsive action, should a data breach occur: We will notify you
        via email • Within 7 business days We will notify the users via in-site
        notification • Within 7 business days
      </p>
      <h4>
        Contacting Us
      </h4>
      <p>
        If there are any questions regarding this privacy policy, you may contact us
        using the information below. hello@noworri.com
      </p>
    </div>
    
    </div>
  </div>
 