// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  #CancelSection {
    margin-top: 20px;
    .cancel {
      background: #ffffff 0% 0% no-repeat padding-box;
      opacity: 1;
      border-radius: 7;
      color: red;
      cursor: pointer;
    }
  }
  .container {
    .row1 {
      display: flex;
      justify-content: center;
      img {
        max-width: 100%;
        height: auto;
      }
    }
    .row2 {
      float: none;
      margin: 0 auto;
      width: 330px;
      .YouAreOpening {
        font: Regular 25px/38px Poppins;
        letter-spacing: 0px;
        color: #363636;
        opacity: 1;
        font-size: 12px;
        margin-left: -40px;
        text-align: center;
        .beauty {
          text-align: center;
          text-decoration: underline;
          font: Regular 25px/38px Poppins;
          letter-spacing: 0px;
          color: #ff0045;
          opacity: 1;
        }
      }
      .SpeciRow {
        h6 {
          text-align: center;
          font: Regular 12px/18px Poppins;
          letter-spacing: 0px;
          color: #497dd5;
          opacity: 1;
          margin-top: 10px;
          font-size: 10px;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
  .container2 {
    margin-top: 30px;
    .row {
    }
    label {
      text-align: left;
      font: Regular 17px/26px Poppins;
      letter-spacing: 0px;
      color: #3e3e3e;
      opacity: 1;
    }
    input {
      background: #ffffff 0% 0% no-repeat padding-box;
      border: 1px solid #497dd5;
      border-radius: 5px;
      opacity: 1;
    }
    textarea {
      height: 120px;
      background: #ffffff 0% 0% no-repeat padding-box;
      border: 1px solid #497dd5;
      opacity: 1;
    }
    .Upload {
      margin-top: 50px;
      h6 {
        text-align: left;
        font: Regular 20px/30px Poppins;
        letter-spacing: 0px;
        color: #497dd5;
        opacity: 1;
        cursor: pointer;
      }
    }
    button {
      margin-top: 30px;
      background: #ffffff 0% 0% no-repeat padding-box;
      border: 1px solid #497dd5;
      border-radius: 16px;
      opacity: 1;
      margin-bottom: 50px;
      text-align: left;
      font: Medium 20px/30px Poppins;
      letter-spacing: 0px;
      color: #292929;
      opacity: 1;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  #CancelSection {
    margin-top: 20px;
    .cancel {
      background: #ffffff 0% 0% no-repeat padding-box;
      opacity: 1;
      border-radius: 7;
      color: red;
      cursor: pointer;
    }
  }
  .container {
    .row1 {
      display: flex;
      justify-content: center;
      img {
        max-width: 100%;
        height: auto;
      }
    }
    .row2 {
      float: none;
      margin: 0 auto;
      width: 330px;
      .YouAreOpening {
        font: Regular 25px/38px Poppins;
        letter-spacing: 0px;
        color: #363636;
        opacity: 1;
        font-size: 12px;
        margin-left: -40px;
        text-align: center;
        .beauty {
          text-align: center;
          text-decoration: underline;
          font: Regular 25px/38px Poppins;
          letter-spacing: 0px;
          color: #ff0045;
          opacity: 1;
        }
      }
      .SpeciRow {
        h6 {
          text-align: center;
          font: Regular 12px/18px Poppins;
          letter-spacing: 0px;
          color: #497dd5;
          opacity: 1;
          margin-top: 10px;
          font-size: 10px;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
  .container2 {
    margin-top: 30px;
    .row {
    }
    label {
      text-align: left;
      font: Regular 17px/26px Poppins;
      letter-spacing: 0px;
      color: #3e3e3e;
      opacity: 1;
    }
    input {
      background: #ffffff 0% 0% no-repeat padding-box;
      border: 1px solid #497dd5;
      border-radius: 5px;
      opacity: 1;
    }
    textarea {
      height: 120px;
      background: #ffffff 0% 0% no-repeat padding-box;
      border: 1px solid #497dd5;
      opacity: 1;
    }
    .Upload {
      margin-top: 50px;
      h6 {
        text-align: left;
        font: Regular 20px/30px Poppins;
        letter-spacing: 0px;
        color: #497dd5;
        opacity: 1;
        cursor: pointer;
      }
    }
    button {
      margin-top: 30px;
      background: #ffffff 0% 0% no-repeat padding-box;
      border: 1px solid #497dd5;
      border-radius: 16px;
      opacity: 1;
      margin-bottom: 50px;
      text-align: left;
      font: Medium 20px/30px Poppins;
      letter-spacing: 0px;
      color: #292929;
      opacity: 1;
      width: 140px;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  #CancelSection {
    margin-top: 20px;
    .cancel {
      background: #ffffff 0% 0% no-repeat padding-box;
      opacity: 1;
      border-radius: 7;
      color: red;
      cursor: pointer;
    }
  }
  .container {
    .row1 {
      display: flex;
      justify-content: center;
      img {
        max-width: 100%;
        height: auto;
      }
    }
    .row2 {
      float: none;
      margin: 0 auto;
      width: 330px;
      .YouAreOpening {
        font: Regular 25px/38px Poppins;
        letter-spacing: 0px;
        color: #363636;
        opacity: 1;
        font-size: 12px;
        text-align: center;
        .beauty {
          text-align: center;
          text-decoration: underline;
          font: Regular 25px/38px Poppins;
          letter-spacing: 0px;
          color: #ff0045;
          opacity: 1;
        }
      }
      .SpeciRow {
        h6 {
          text-align: center;
          font: Regular 12px/18px Poppins;
          letter-spacing: 0px;
          color: #497dd5;
          opacity: 1;
          margin-top: 10px;
          font-size: 10px;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
  .container2 {
    margin-top: 30px;
    .row {
    }
    label {
      text-align: left;
      font: Regular 17px/26px Poppins;
      letter-spacing: 0px;
      color: #3e3e3e;
      opacity: 1;
    }
    input {
      background: #ffffff 0% 0% no-repeat padding-box;
      border: 1px solid #497dd5;
      border-radius: 5px;
      opacity: 1;
    }
    textarea {
      height: 120px;
      background: #ffffff 0% 0% no-repeat padding-box;
      border: 1px solid #497dd5;
      opacity: 1;
    }
    .Upload {
      margin-top: 50px;
      h6 {
        text-align: left;
        font: Regular 20px/30px Poppins;
        letter-spacing: 0px;
        color: #497dd5;
        opacity: 1;
        cursor: pointer;
      }
    }
    button {
      margin-top: 30px;
      background: #ffffff 0% 0% no-repeat padding-box;
      border: 1px solid #497dd5;
      border-radius: 16px;
      opacity: 1;
      margin-bottom: 50px;
      text-align: left;
      font: Medium 20px/30px Poppins;
      letter-spacing: 0px;
      color: #292929;
      opacity: 1;
      width: 140px;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  #CancelSection {
    margin-top: 20px;
    .cancel {
      background: #ffffff 0% 0% no-repeat padding-box;
      opacity: 1;
      border-radius: 7;
      color: red;
      cursor: pointer;
    }
  }
  .container {
    .row1 {
      display: flex;
      justify-content: center;
      margin-left: 70px;
      img {
        width: 200px;
        height: auto;
      }
    }
    .row2 {
      margin-left: 330px;
      margin-top: 20px;
      width: 500px;
      .YouAreOpening {
        font: Regular 25px/38px Poppins;
        letter-spacing: 0px;
        color: #363636;
        opacity: 1;
        font-size: 12px;
        font-weight: bold;
        margin-left: 10px;
        .beauty {
          text-align: center;
          text-decoration: underline;
          font: Regular 25px/38px Poppins;
          letter-spacing: 0px;
          color: #ff0045;
          opacity: 1;
        }
      }
      .SpeciRow {
        margin-left: 100px;
        margin-top: 10px;
        h6 {
          text-align: left;
          font: Regular 12px/18px Poppins;
          letter-spacing: 0px;
          color: #497dd5;
          opacity: 1;
          margin-top: 10px;
          font-size: 10px;
          margin-left: 20px;
        }
      }
    }
  }
  .container2 {
    margin-top: 30px;
    margin-left: -25px;
    .row {
    }
    label {
      text-align: left;
      font: Regular 17px/26px Poppins;
      letter-spacing: 0px;
      color: #3e3e3e;
      opacity: 1;
    }
    input {
      background: #ffffff 0% 0% no-repeat padding-box;
      border: 1px solid #497dd5;
      border-radius: 5px;
      opacity: 1;
    }
    textarea {
      height: 120px;
      background: #ffffff 0% 0% no-repeat padding-box;
      border: 1px solid #497dd5;
      opacity: 1;
    }
    .Upload {
      margin-top: 50px;
      h6 {
        text-align: left;
        font: Regular 20px/30px Poppins;
        letter-spacing: 0px;
        color: #497dd5;
        opacity: 1;
        cursor: pointer;
      }
    }
    button {
      margin-top: 30px;
      background: #ffffff 0% 0% no-repeat padding-box;
      border: 1px solid #497dd5;
      border-radius: 16px;
      opacity: 1;
      margin-bottom: 50px;
      font: Medium 20px/30px Poppins;
      letter-spacing: 0px;
      color: #292929;
      opacity: 1;
      width: 140px;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #CancelSection {
    margin-top: 20px;
    .cancel {
      background: #ffffff 0% 0% no-repeat padding-box;
      opacity: 1;
      border-radius: 7;
      color: red;
      cursor: pointer;
    }
  }
  .container {
    .row1 {
      display: flex;
      justify-content: center;
      margin-left: 150px;
      img {
        width: 200px;
        height: auto;
      }
    }
    .row2 {
      margin-left: 430px;
      margin-top: 20px;
      width: 500px;
      .YouAreOpening {
        font: Regular 25px/38px Poppins;
        letter-spacing: 0px;
        color: #363636;
        opacity: 1;
        font-size: 12px;
        font-weight: bold;
        margin-left: 10px;
        .beauty {
          text-align: center;
          text-decoration: underline;
          font: Regular 25px/38px Poppins;
          letter-spacing: 0px;
          color: #ff0045;
          opacity: 1;
        }
      }
      .SpeciRow {
        margin-left: 80px;
        margin-top: 10px;
        h6 {
          text-align: left;
          font: Regular 12px/18px Poppins;
          letter-spacing: 0px;
          color: #497dd5;
          opacity: 1;
          margin-top: 10px;
          font-size: 10px;
        }
      }
    }
  }
  .container2 {
    margin-top: 30px;
    margin-left: -25px;
    .row {
    }
    label {
      text-align: left;
      font: Regular 17px/26px Poppins;
      letter-spacing: 0px;
      color: #3e3e3e;
      opacity: 1;
    }
    input {
      background: #ffffff 0% 0% no-repeat padding-box;
      border: 1px solid #497dd5;
      border-radius: 5px;
      opacity: 1;
    }
    textarea {
      height: 120px;
      background: #ffffff 0% 0% no-repeat padding-box;
      border: 1px solid #497dd5;
      opacity: 1;
    }
    .Upload {
      margin-top: 50px;
      h6 {
        text-align: left;
        font: Regular 20px/30px Poppins;
        letter-spacing: 0px;
        color: #497dd5;
        opacity: 1;
        cursor: pointer;
      }
    }
    button {
      margin-top: 30px;
      background: #ffffff 0% 0% no-repeat padding-box;
      border: 1px solid #497dd5;
      border-radius: 16px;
      opacity: 1;
      margin-bottom: 50px;
      font: Medium 20px/30px Poppins;
      letter-spacing: 0px;
      color: #292929;
      opacity: 1;
      width: 140px;
    }
  }
}
