<section id="come-soon" class="coming">
  <!-- Container-fluid starts -->
  <div class="container">
    <div class="row comming-soon">
      <div class="col-sm-12">
        <h1 class="mb70">COMING SOON</h1>
        <p class="mb50">
          We are working hard to improve our website and we’ll ready to launch
          after
        </p>
        <div class="counter mb70">
          <!-- Start of Countdown -->
          <div class="timer" id="countdown">
            <div class="row justify-content-md-center">
              <div class="col-sm-2">
                <div class="time">{{ dYears }}</div>
                <span class="text">years</span>
              </div>
              <div class="col-sm-2">
                <div class="time">{{ dDays }}</div>
                <span class="text">days</span>
              </div>
              <div class="col-sm-2">
                <div class="time">{{ dHours }}</div>
                <span class="text">hours</span>
              </div>
              <div class="col-sm-2">
                <div class="time">{{ dMinutes }}</div>
                <span class="text">minutes</span>
              </div>
              <div class="col-sm-2">
                <div class="time">{{ dSeconds }}</div>
                <span class="text">seconds</span>
              </div>
            </div>
          </div>
          <!-- End of Countdown -->
        </div>
        <!-- end of counter -->
        <div class="coming-social">
          <a href="javascript:" class="fa fa-facebook"></a>
          <a href="javascript:" class="fa fa-twitter"></a>
          <a href="javascript:" class="fa fa-google-plus"></a>
          <a href="javascript:" class="fa fa-pinterest"></a>
          <a href="javascript:" class="fa fa-linkedin"></a>
        </div>
      </div>
    </div>
  </div>
  <!-- end of container-fluid -->
</section>
