.card {
  width: 700px;
  margin-top: 70px;
  hr {
    background-color: red;
    margin-top: 0px;
    height: 1px;
  }

  #button {
    margin-top: -20px;
    .boutton {
      margin-right: -180px;
    }
    button {
      height: 40px;
      text-align: left;
      font: Medium 20px/30px Poppins;
      letter-spacing: 0px;
      color: #484848;
      opacity: 1;
      border: 1px solid #497dd5;
    }
  }
  .h6 {
    margin-top: 20px;
    h6 {
      text-align: left;
      font: Regular 20px/30px Poppins;
      letter-spacing: 0px;
      color: #5607f8;
      opacity: 1;
      font-weight: 400;
    }
  }
  .container {
    .titre {
      margin-top: 19px;
      h6 {
        text-align: left;
        font: Regular 20px/30px Poppins;
        letter-spacing: 0px;
        color: #484848;
        opacity: 1;
        font-weight: 400;
      }
    }
    #backgr {
      background: #f3f3f3 0% 0% no-repeat padding-box;
      opacity: 1;
      margin-top: -2px;
      h6 {
        text-align: left;
        font: Regular 20px/30px Poppins;
        letter-spacing: 0px;
        color: #484848;
        opacity: 1;
        font-weight: 400;
        margin-top: 5px;
        margin-left: 6px;
      }
      #speci1 {
        margin-left: -15px;
      }
      #speci2 {
        margin-left: -15px;
      }
      #speci3 {
        margin-left: -15px;
      }
      #speci4 {
        margin-right: -570px;
        color: #2bb996;
        cursor: pointer;
        font-size: small;
      }
    }
  }
  #doc {
    margin-top: 40px;
    .Document {
      text-align: left;
      font: Regular 20px/30px Poppins;
      letter-spacing: 0px;
      color: #5607f8;
      opacity: 1;
      font-size: 20px;
      margin-left: -12px;
    }
    .Upload {
      text-align: left;
      font: Regular 15px/23px Poppins;
      letter-spacing: 0px;
      color: #6a6a6a;
      opacity: 1;
      font-size: small;
      font-weight: 400;
      margin-left: -12px;
      margin-top: 10px;
    }
    button {
      border: 1px solid #2bb996;
      border-radius: 13px;
      opacity: 1;
      margin-top: 10px;
    }
  }
}

.Template1 {
  h4 {
    font: Regular 25px/38px Poppins;
    letter-spacing: 0px;
    color: #484848;
    opacity: 1;
    font-size: 23px;
    text-align: center;
    margin-top: 20px;
    font-weight: 400;
  }
  .EnterYour {
    margin-left: 30px;
    font: Regular 20px/30px Poppins;
    letter-spacing: 0px;
    color: #484848;
    opacity: 1;
    margin-top: 10px;
  }
  input {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #497dd5;
    border-radius: 11px;
    opacity: 1;
    width: 260px;
    margin-top: 20px;
  }
  button {
    background: #497dd5 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 11px;
    opacity: 1;
    margin-left: 80px;
    margin-top: 20px;
  }
}
.Template2 {
  h4 {
    font: Regular 25px/38px Poppins;
    letter-spacing: 0px;
    color: #484848;
    opacity: 1;
    font-size: 23px;
    text-align: center;
    margin-top: 20px;
    font-weight: 400;
  }
  .EnterYour {
    margin-left: 60px;
    font: Regular 20px/30px Poppins;
    letter-spacing: 0px;
    color: #484848;
    opacity: 1;
    margin-top: 10px;
  }
  input {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #497dd5;
    border-radius: 11px;
    opacity: 1;
    width: 260px;
    margin-top: 20px;
    height: 100px;
  }
  button {
    background: #497dd5 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 11px;
    opacity: 1;
    margin-left: 80px;
    margin-top: 20px;
  }
}
.Template3 {
  h5 {
    font: Regular 25px/38px Poppins;
    letter-spacing: 0px;
    color: #484848;
    opacity: 1;
    font-size: 23px;
    text-align: center;
    margin-top: 20px;
    font-weight: 400;
  }
  label {
    margin-left: 25px;
    font: Regular 20px/30px Poppins;
    letter-spacing: 0px;
    color: #484848;
    opacity: 1;
    margin-top: 10px;
  }
  input {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #497dd5;
    border-radius: 11px;
    opacity: 1;
    width: 220px;
    margin-left: 20px;
    margin-top: 10px;
  }
  .Resend {
    text-decoration: underline;
    font: Regular 12px/18px Poppins;
    letter-spacing: 0px;
    color: #484848;
    opacity: 1;
    font-size: small;
    margin-top: 5px;
    margin-left: 18px;
  }
  #col {
    margin-left: -40px;
  }
  button {
    background: #497dd5 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 11px;
    opacity: 1;
    margin-left: 90px;
    margin-top: 25px;
  }
}
.Template6 {
  h4 {
    font: Regular 25px/38px Poppins;
    letter-spacing: 0px;
    color: #484848;
    opacity: 1;
    font-size: 23px;
    text-align: center;
    margin-top: 20px;
    font-weight: 400;
  }
  .EnterYour {
    font: Regular 20px/30px Poppins;
    letter-spacing: 0px;
    color: #484848;
    opacity: 1;
    margin-top: 10px;
    width: 200px;
  }
  input {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #497dd5;
    border-radius: 11px;
    opacity: 1;
    margin-top: 10px;
  }
  button {
    background: #497dd5 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 11px;
    opacity: 1;
    margin-left: 50px;
  }
  h5 {
    font: Regular 25px/38px Poppins;
    letter-spacing: 0px;
    color: #484848;
    opacity: 1;
    font-size: 23px;
    text-align: center;
    margin-top: 20px;
    font-weight: 400;
  }
}
