body {
  padding-top: 4.2rem;
  padding-bottom: 4.2rem;
  background: rgba(0, 0, 0, 0.76);
}
a {
  text-decoration: none !important;
}
.myform {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 1.1rem;
  outline: 0;
  max-width: 500px;
}
.tx-tfm {
  text-transform: uppercase;
}
.mybtn {
  border-radius: 8px;
  width: 100px;
}

.login-or {
  position: relative;
  color: #aaa;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.span-or {
  display: block;
  position: absolute;
  left: 50%;
  top: -2px;
  margin-left: -25px;
  background-color: #fff;
  width: 50px;
  text-align: center;
}
.hr-or {
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.google {
  color: #666;
  width: 100%;
  height: 40px;
  text-align: center;
  outline: none;
  border: 1px solid lightgrey;
}
form .error {
  color: #ff0000;
}
#second {
  display: none;
}
//--------SendsFunds---------//
.container {
  .logo {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    .col-md-12 {
      h1 {
        color: #497dd5;
        text-align: left;
        font: Semibold 28px/37px Segoe UI;
        letter-spacing: 0;
        color: #497dd5;
        opacity: 1;
        font-size: 23px;
      }
    }
  }

  #form1{
    .form-group {
      .RecipientName {
        text-align: left;
        font: Semibold 20px/27px Segoe UI;
        letter-spacing: 0;
        color: #707070;
        opacity: 1;
        top: 214px;
        left: 827px;
        width: 249px;
        height: 27px;
      }
      #exampleInputEmail1 {
        border-color: 0.5px solid #707070;
        border-radius: 10px;
        opacity: 1;
      }
    }
    .HowDoYouWant {
      text-align: left;
      font: Semibold 20px/27px Segoe UI;
      letter-spacing: 0;
      color: #707070;
      opacity: 1;
    }
    .Roselina {
      color: #ff3400;
    }
    .row {
      .form-check {
        .form-check-input {
          background: #2699fb 0% 0% no-repeat padding-box;
          border-radius: 100px;
          opacity: 1;
        }
        .form-check-label {
          text-align: left;
          font: Regular 14px/21px Poppins;
          letter-spacing: 0;
          color: #484848;
          opacity: 1;
        }
      }
    }

  }
 #form2{
   .Select{
    text-align: left;
    font: Semibold 20px/27px Segoe UI;
    letter-spacing: 0;
    color: #707070;
    opacity: 1;
    .Roselina{
      color: red;
    }
   }
   .form-check{
     background-color: blue;
    margin: 30px;
   }
   .form-check-label{
    
    font: Regular 14px/21px Poppins;
    letter-spacing: 0;
    color: #484848;
    opacity: 1;
   }
 }

}
