<!-- <div class="container" id="Container">
  <div class="row">
    <div class="col-sm">
      <! ------------Main----------- -- >
      <div class="row" id="Card1">
        <div class="card">
          <div class="card-body" id="card-body1">
            <hr />
            <div class="container">
              <div class="row">
                <div class="col-sm">
                  <h6 class="TransactionID">Transaction ID 45689230</h6>
                </div>
                <div class="col-sm">
                  <h6
                    class="HideContrat"
                    (click)="isCollapsed1 = !isCollapsed1"
                    [attr.aria-expanded]="!isCollapsed1"
                  >
                    {{message1}} Contrat
                  </h6>
                </div>
                <div class="col-sm">
                  <h6 class="expandmore"><mat-icon>{{message2}}</mat-icon></h6>
                </div>
                <div class="col-sm" id="GH">
                  <button class="btn btn-light btn-sm" type="submit">
                    Agree
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="Card2">
        <div
          id="collapseBasic"
          [collapse]="isCollapsed1"
          [isAnimated]="true"
          [collapse]="isCollapsed"
          (collapses)="collapses()"
          (expands)="expands()"
          (collapsed)="collapsed()"
          (expanded)="expanded()"
        >
          <div class="card" id="" style="width: 50rem;">
            <div class="card-body" id="card-body2">
              <div class="container">
                <div class="row">
                  <div class="col-sm col1">
                    <h6 class="Item ">Item</h6>
                  </div>
                  <div class="col-sm col2">
                    <h6 class="Amount">Amount</h6>
                  </div>
                  <div class="col-sm col3">
                    <h6 class="Deadline">Deadline</h6>
                  </div>
                  <div class="col-sm col4">
                    <h6 class="Revisions">Revisions</h6>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm">
                    <h6 class="Anandroidmobile">
                      An android mobile application
                    </h6>
                  </div>
                  <div class="col-sm col5">
                    <h6 class="cinq1">550.00</h6>
                  </div>
                  <div class="col-sm col6">
                    <h6 class="Days12Hours">4 Days 12 Hours</h6>
                  </div>
                  <div class="col-sm col7">
                    <h6 class="Trois">3</h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm col8">
                    <h6 class="NoworriFees">Noworri Fees</h6>
                  </div>
                  <div class="col-sm col9">
                    <h6 class="quinz">15.14</h6>
                  </div>
                  <div class="col-sm"></div>
                  <div class="col-sm"></div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm"></div>
                  <div class="col-sm">
                    <h6 class="NETPAYABLE">NET PAYABLE</h6>
                  </div>
                  <div class="col-sm">
                    <h6 class="cinq2">560.14</h6>
                  </div>
                  <div class="col-sm"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="Card3">
        <div class="container">
          <div class="row">
            <div class="col-sm col10">
              <h6 class="ORDERREQUIREMENTS">ORDER REQUIREMENTS</h6>
            </div>
            <div class="col-sm"></div>
            <div class="col-sm col11">
              <h6
                class="HideRequirement"
                (click)="isCollapsed2 = !isCollapsed2"
                [attr.aria-expanded]="!isCollapsed2"
              >
                {{message3}} requirement
              </h6>
            </div>
            <div class="col-sm col12">
              <h6 class="expandmore"><mat-icon>{{message4}}</mat-icon></h6>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="Card4">
        <div
          id="collapseBasic"
          [collapse]="isCollapsed2"
          [isAnimated]="true"
          [collapse]="isCollapsed"
          (collapses)="collapsess()"
          (expands)="expands()"
          (collapsed)="collapsed()"
          (expanded)="expandeds()"
        >
          <div class="card" style="width: 50rem;">
            <div class="card-body">
              <p>
                Define a dead time of the transaction so in case anything was
                not done after the end of the transaction Noworri will cancel it
                Define a dead time of the transaction so in case anything was
                not done after the end of the transaction Noworri will cancel it
                Define a dead time of the transaction so in case anything was
                not done after the end of the transaction Noworri will cancel it
                Define a dead time of the transaction so in case anything was
                not done after the end of the transaction Noworri will cancel it
                Define a dead time of the transaction so in case anything was
                not done after the end of the transaction Noworri will cancel it
              </p>
              <div class="container">
                <h6 class="AttachedFile">Attached file</h6>
                <h6 class="AmelPlan">Amel plan of house.PDF</h6>
                <h6 class="Architech">Architech building.PNG</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="Card5">
        <div class="container">
          <div class="row">
            <div class="col-sm col14">
              <h6 class="HeureEtDate">March 6 @ 4 : 45 pm</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="Card6">
        <div class="card" style="width: 50rem;">
          <div class="card-body">
            <h6>
              <span class="false102">@rose11</span> has sent you a deal's
              contrat review and approve it
            </h6>
          </div>
        </div>
      </div>
      <div class="row" id="Card7">
        <div class="col-sm col15">
          <h6 class="HeureEtDate">March 6 @ 4 : 45 pm</h6>
        </div>
      </div>
      <div class="row" id="Card8">
        <div class="card" style="width: 50rem;">
          <div class="card-body">
            <h6>
              We will notify you when
              <span class="false102">@rose11</span>secure the funds
            </h6>
          </div>
        </div>
      </div>
      <div class="row" id="Card9">
        <div class="container">
          <div class="row">
            <div class="col-sm col14">
              <h6 class="HeureEtDate">March 6 @ 4 : 45 pm</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="Card10">
        <div class="card" style="width: 50rem;">
          <div class="card-body">
            <h6>
              <span class="rose11">@rose11</span> has successfully secure the
              funds
            </h6>
            <div class="container">
              <div class="container">
                <div class="row">
                  <div class="col-sm"></div>
                  <div class="col-sm">
                    <h5>
                      <div class="container">
                        <div class="row">
                          <div class="col-sm"></div>
                          <div class="col-sm"></div>
                        </div>
                      </div>
                    </h5>
                  </div>
                  <div class="col-sm"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="Card11">
        <div class="container">
          <div class="row">
            <div class="col-sm col14">
              <h6 class="HeureEtDate">
                March 6 @ 4 : 45pm
              </h6>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="Card12">
        <div class="card" style="width: 50rem;">
          <div class="card-body">
            <h6>
              <span class="false102">false102</span> the transaction has
              started, deliver the work before the end of the time
            </h6>
            <div class="container">
              <div class="container">
                <div class="row">
                  <div class="col-sm"></div>
                  <div class="col-sm">
                    <h5>
                      <div class="container">
                        <div class="row"></div>
                      </div>
                    </h5>
                  </div>
                  <div class="col-sm"></div>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col"></div>
                <div class="col" id="HeureButton">
                  <button type="button" class="btn btn-light">
                    05 : 25 : 09
                  </button>
                </div>
                <div class="col"></div>
              </div>
              <div class="row">
                <div class="col"></div>
                <div class="col" id="Delivred">
                  <button type="button" class="btn btn-light btn-sm">
                    Delivered
                  </button>
                </div>
                <div class="col"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="Card21">
        <div class="container">
          <div class="row">
            <div class="col-sm col14">
              <h6 class="HeureEtDate">
                March 6 @ 4 : 45pm
                ------------------------------------------------------------------WORK
                DELIVERED-------------------------------------------------------------------------------------------
              </h6>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="Card20">
        <div class="card" style="width: 50rem;">
          <div class="card-body">
            <h6>
              The work has been sent to
              <span class="rosell">@rosell</span> succefully review it
              <span class="Here">Here</span>
            </h6>
            <div class="container">
              <div class="container">
                <div class="row">
                  <div class="col-sm"></div>
                  <div class="col-sm">
                    <h5>
                      <div class="container"></div>
                    </h5>
                  </div>
                  <div class="col-sm"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" id="Card13">
        <div class="card" style="width: 50rem;">
          <div class="card-body">
            <h6>
              Awaiting feedback from <span class="rosell">@rosell</span> vany
              respond before the time set time order will be marked as completed
            </h6>
           <div class="row">
             <div class="col">

             </div>
             <div class="col">
              <div class="col-sm" id="HeureButton">
                <button type="button" class="btn btn-light">
                  05 : 25 : 09
                </button>
              </div>
             </div>
             <div class="col">

             </div>
           </div>
          </div>
        </div>
      </div>

      <div class="row" id="Card14">
        <div class="container">
          <div class="row">
            <div class="col-sm col14">
              <h6 class="HeureEtDate">
                March 6 @ 4 : 45pm
                ------------------------------------------------------------------------
                Revision
                -------------------------------------------------------------------------------------------------
              </h6>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="Card15">
        <div class="card" style="width: 50rem;">
          <div class="card-body">
            <h6>
              1- Change the colour on top <br />
              2- Make the video more interesting<br />
              3- You didn't do the speech well kindly review the file l have
              sent you before and make it
            </h6>
            <div class="container">
              <div class="container">
                <div class="row">
                  <div class="col-sm"></div>
                  <div class="col-sm">
                    <h5>
                      <div class="container">
                        <div class="row"></div>
                      </div>
                    </h5>
                  </div>
                  <div class="col-sm"></div>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row" id="Card16">
                <div class="col-sm" id="HeureButton">
                  <button type="button" class="btn btn-light">
                    05 : 25 : 09
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col-sm"></div>
                <div class="col" id="Delivred">
                  <button type="button" class="btn btn-light btn-sm">
                    Delivered
                  </button>
                </div>
                <div class="col-sm"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm" id="Card18">
      <div class="container">
        <div class="card">
          <div class="card-body">
            <hr />
            <div class="container">
              <div class="row">
                <mat-icon class="Icon">report</mat-icon>
                <h6 class="WantTo">Want to cancel this order ?</h6>
              </div>
              <div class="row">
                <a class="nav-link" href="#">Click Here</a>
              </div>
              <div class="row">
                <mat-icon class="Icon">report</mat-icon>
                <h6 class="Somethingunclair">Something unclair ?</h6>
              </div>
              <div class="row">
                <a class="nav-link" href="#">Check out our FAQs</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
