@media (max-width: 575.98px) {
  .AboutBisiness {
    margin-left: 15px;
  }
  .Verifications {
    margin-left: 20px;
  }
  #CancelSection {
    margin-top: 20px;
    .cancel {
      background: #ffffff 0% 0% no-repeat padding-box;
      opacity: 1;
      border-radius: 7;
      color: red;
      cursor: pointer;
    }
  }
  #Result {
    float: none;
    margin: 0 auto;
    width: 570px;
    .card {
      margin-top: 40px;
      height: 1650px;
      width: 70rem;
      .row1 {
        .col1 {
          margin-left: 10px;
          margin-top: 10px;
          img {
            width: 80px;
            height: 80px;
            border-radius: 50px;
            box-shadow: 0 0 65px rgba(167, 162, 162, 0.75) inset,
              0 0 20px rgba(167, 162, 162, 0.75) inset,
              0 0 5px rgba(167, 162, 162, 0.75);
          }
        }
        .col2 {
          margin-top: 15px;
          .BeautyVenture {
            font-size: small;
            text-align: left;
            font: Regular 20px/30px Poppins;
            letter-spacing: 0px;
            color: #3e3e3e;
            opacity: 1;
            font-size: 20px;
            margin-right: -5px;
          }
          .verifiedUser {
            color: #5662fe;
            margin-left: 10px;
          }
          .VerifiedOn {
            text-align: left;
            font: Regular 14px/21px Poppins;
            letter-spacing: 0px;
            color: #484848;
            opacity: 1;
            margin-top: 7px;
            font-size: small;
          }
        }
        .col3 {
          margin-left: 10px;

          .OpenA {
            margin-top: -120px;
            text-align: center;
            text-decoration: underline;
            font: Regular 15px/37px Poppins;
            letter-spacing: 0.19px;
            color: #ff0045;
            opacity: 1;
            cursor: pointer;
          }
        }
      }
      .row2 {
        h6 {
          text-align: center;
          font: Regular 16px/25px Poppins;
          letter-spacing: 0px;
          color: #101010;
          opacity: 1;
          font-size: small;
        }
      }
      .row3 {
        margin-left: -150px;
        .col1 {
          img {
            width: 20px;
            margin-left: 40px;
          }
        }
        .col2 {
          h6 {
            font: Regular 15px/23px Poppins;
            letter-spacing: 0px;
            color: #8e8e8e;
            opacity: 1;
            font-weight: 500;
            margin-top: 5px;
            margin-left: -25px;
          }
        }
        .col3 {
          img {
            width: 20px;
            margin-left: 39px;
            margin-top: 10px;
          }
        }
        .col4 {
          img {
            width: 20px;
            margin-left: 39px;
            margin-top: 10px;
          }
        }
        .col5 {
          img {
            width: 27px;
            margin-left: 39px;
            margin-top: 10px;
          }
        }
      }
      .row4 {
        .Product {
          margin-left: 30px;
          font: Regular 18px/27px Poppins;
          letter-spacing: 0px;
          color: #497dd5;
          opacity: 1;
          font-size: small;
          margin-top: 10px;
          font-weight: 700;
        }
        .rowSpeci {
          margin: auto;
          max-width: 300px;
          button {
            background: #b8b8b8 0% 0% no-repeat padding-box;
            border-radius: 9px;
            opacity: 1;
            font: Regular 17px/26px Poppins;
            letter-spacing: 0px;
            color: #3d3d3d;
            opacity: 1;
            width: 140px;
            font-size: 9px;
            font-weight: bold;
            margin-top: 20px;
          }
        }
      }
      .row5 {
        .country {
          margin-top: 30px;
          margin-left: -20px;
        }
        .city {
          margin-top: 30px;
          margin-left: 8px;
        }
        .BusinessSector {
          text-align: left;
          font: Regular 18px/27px Poppins;
          letter-spacing: 0px;
          color: #497dd5;
          opacity: 1;
          margin-left: 30px;
          font-size: small;
          font-weight: 700;
        }
        .BeautyAnd {
          margin-top: 30px;
          text-align: left;
          font: Regular 15px/23px Poppins;
          letter-spacing: 0px;
          color: #3d3d3d;
          opacity: 1;
          margin-left: -70px;
          font-size: small;
        }
      }
      .row6 {
        h6 {
          font: Regular 18px/27px Poppins;
          letter-spacing: 0px;
          color: #497dd5;
          opacity: 1;
          margin-left: 30px;
          font-size: small;
          font-weight: 700;
        }
        .rowSpeci {
          margin-top: 18px;
          margin-left: -117px;
          .col {
            font: Regular 15px/23px Poppins;
            letter-spacing: 0px;
            color: #8e8e8e;
            opacity: 1;
            font-size: small;
            margin: 15px;
          }
        }
      }
      .container {
        .row {
          background: #eeeeee 0% 0% no-repeat padding-box;
          opacity: 1;
          margin-top: 20px;
          .col1 {
            h6 {
              text-align: left;
              font: Medium 21px/31px Poppins;
              letter-spacing: 0px;
              color: #3d3d3d;
              opacity: 1;
              margin-top: 8px;
            }
          }
          .col2 {
            margin-right: 20px;
            h6 {
              text-align: center;
              font: Regular 22px/33px Poppins;
              letter-spacing: 0px;
              color: #5662fe;
              opacity: 1;
              margin-top: 8px;
              font-size: small;
              margin-left: 80px;
            }
          }
        }
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .AboutBisiness {
    margin-left: 15px;
  }
  .Verifications {
    margin-left: 20px;
  }
  #CancelSection {
    margin-top: 20px;
    .cancel {
      background: #ffffff 0% 0% no-repeat padding-box;
      opacity: 1;
      border-radius: 7;
      color: red;
      cursor: pointer;
    }
  }
  #Result {
    float: none;
    margin: 0 auto;
    width: 570px;
    .card {
      margin-top: 40px;
      height: 1350px;
      width: 90rem;
      .row1 {
        .col1 {
          margin-left: 10px;
          margin-top: 10px;
          img {
            width: 80px;
            height: 80px;
            border-radius: 50px;
            box-shadow: 0 0 65px rgba(167, 162, 162, 0.75) inset,
              0 0 20px rgba(167, 162, 162, 0.75) inset,
              0 0 5px rgba(167, 162, 162, 0.75);
          }
        }
        .col2 {
          margin-left: -450px;
          margin-top: 15px;
          .BeautyVenture {
            text-align: left;
            font: Regular 20px/30px Poppins;
            letter-spacing: 0px;
            color: #3e3e3e;
            opacity: 1;
            font-size: 20px;
            margin-left: -5px;
          }
          .verifiedUser {
            color: #5662fe;
            margin-left: 10px;
          }
          .VerifiedOn {
            text-align: left;
            font: Regular 14px/21px Poppins;
            letter-spacing: 0px;
            color: #484848;
            opacity: 1;
            margin-top: 7px;
            font-size: small;
          }
        }
        .col3 {
          margin-left: 10px;

          .OpenA {
            margin-top: -70px;
            text-align: right;
            text-decoration: underline;
            font: Regular 15px/37px Poppins;
            letter-spacing: 0.19px;
            color: #ff0045;
            opacity: 1;
            cursor: pointer;
            margin-right: -700px;
          }
        }
      }
      .row2 {
        h6 {
          margin-left: 30px;
          font: Regular 16px/25px Poppins;
          letter-spacing: 0px;
          color: #101010;
          opacity: 1;
          font-size: small;
        }
      }
      .row3 {
        margin-left: -150px;
        .col1 {
          img {
            width: 20px;
            margin-left: 40px;
            box-shadow: 2.5px 2.5px 2.5px 0px rgba(167, 162, 162, 0.75);
          }
        }
        .col2 {
          h6 {
            font: Regular 15px/23px Poppins;
            letter-spacing: 0px;
            color: #8e8e8e;
            opacity: 1;
            font-weight: 500;
            margin-top: 5px;
            margin-left: -25px;
          }
        }
        .col3 {
          img {
            width: 20px;
            margin-left: 39px;
            margin-top: 10px;
          }
        }
        .col4 {
          img {
            width: 20px;
            margin-left: 39px;
            margin-top: 10px;
          }
        }
        .col5 {
          img {
            width: 27px;
            margin-left: 39px;
            margin-top: 10px;
          }
        }
      }
      .row4 {
        .Product {
          margin-left: 30px;
          font: Regular 18px/27px Poppins;
          letter-spacing: 0px;
          color: #497dd5;
          opacity: 1;
          font-size: small;
          margin-top: 10px;
          font-weight: 700;
        }
        .rowSpeci {
          margin-top: 40px;
          margin-left: 60px;
          button {
            background: #b8b8b8 0% 0% no-repeat padding-box;
            border-radius: 9px;
            opacity: 1;
            font: Regular 17px/26px Poppins;
            letter-spacing: 0px;
            color: #3d3d3d;
            opacity: 1;
            width: 140px;
            font-size: 9px;
            font-weight: bold;
            margin-top: 20px;
          }
        }
      }
      .row5 {
        .country {
          margin-top: 30px;
          margin-left: -20px;
        }
        .city {
          margin-top: 30px;
          margin-left: 8px;
        }
        .BusinessSector {
          text-align: left;
          font: Regular 18px/27px Poppins;
          letter-spacing: 0px;
          color: #497dd5;
          opacity: 1;
          margin-left: 30px;
          font-size: small;
          font-weight: 700;
        }
        .BeautyAnd {
          margin-top: 30px;
          text-align: left;
          font: Regular 15px/23px Poppins;
          letter-spacing: 0px;
          color: #3d3d3d;
          opacity: 1;
          margin-left: -70px;
          font-size: small;
        }
      }
      .row6 {
        h6 {
          font: Regular 18px/27px Poppins;
          letter-spacing: 0px;
          color: #497dd5;
          opacity: 1;
          margin-left: 30px;
          font-size: small;
          font-weight: 700;
        }
        .rowSpeci {
          margin-top: 18px;
          margin-left: -117px;
          .col {
            font: Regular 15px/23px Poppins;
            letter-spacing: 0px;
            color: #8e8e8e;
            opacity: 1;
            font-size: small;
            margin: 15px;
          }
        }
      }
      .container {
        .row {
          background: #eeeeee 0% 0% no-repeat padding-box;
          opacity: 1;
          margin-top: 20px;
          .col1 {
            h6 {
              text-align: left;
              font: Medium 21px/31px Poppins;
              letter-spacing: 0px;
              color: #3d3d3d;
              opacity: 1;
              margin-top: 8px;
            }
          }
          .col2 {
            margin-right: -20px;
            h6 {
              text-align: center;
              font: Regular 22px/33px Poppins;
              letter-spacing: 0px;
              color: #5662fe;
              opacity: 1;
              margin-top: 8px;
              font-size: small;
              margin-left: 80px;
            }
          }
        }
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .AboutBisiness {
    margin-left: 15px;
  }
  .Verifications {
    margin-left: 20px;
  }
  #CancelSection {
    margin-top: 20px;
    .cancel {
      background: #ffffff 0% 0% no-repeat padding-box;
      opacity: 1;
      border-radius: 7;
      color: red;
      cursor: pointer;
    }
  }

  #Result {
    float: none;
    margin: 0 auto;
    width: 600px;
    .card {
      margin-top: 100px;
      height: 1300px;
      width: 100rem;
      .row1 {
        .col1 {
          margin-top: 10px;
          img {
            width: 80px;
            height: 80px;
            border-radius: 50px;
            box-shadow: 0 0 65px rgba(167, 162, 162, 0.75) inset,
              0 0 20px rgba(167, 162, 162, 0.75) inset,
              0 0 5px rgba(167, 162, 162, 0.75);
          }
        }
        .col2 {
          margin-left: -290px;
          margin-top: 15px;
          .BeautyVenture {
            text-align: left;
            font: Regular 20px/30px Poppins;
            letter-spacing: 0px;
            color: #3e3e3e;
            opacity: 1;
            font-size: 20px;
            margin-left: -180px;
          }
          .verifiedUser {
            color: #5662fe;
            margin-left: -167px;
          }
          .VerifiedOn {
            text-align: left;
            font: Regular 14px/21px Poppins;
            letter-spacing: 0px;
            color: #484848;
            opacity: 1;
            margin-top: 7px;
            font-size: small;
            margin-left: 10px;
          }
        }
        .col3 {
          margin-left: 180px;
          margin-top: -70px;
          .OpenA {
            text-align: center;
            text-decoration: underline;
            font: Regular 15px/37px Poppins;
            letter-spacing: 0.19px;
            color: #ff0045;
            opacity: 1;
            cursor: pointer;
          }
        }
      }
      .row2 {
        h6 {
          margin-left: -10px;
          font: Regular 16px/25px Poppins;
          letter-spacing: 0px;
          color: #101010;
          opacity: 1;
          font-size: small;
        }
      }
      .row3 {
        margin-left: -140px;
        .col1 {
          img {
            width: 20px;
            margin-left: 40px;
            box-shadow: 2.5px 2.5px 2.5px 0px rgba(167, 162, 162, 0.75);
          }
        }
        .col2 {
          h6 {
            font: Regular 15px/23px Poppins;
            letter-spacing: 0px;
            color: #8e8e8e;
            opacity: 1;
            font-weight: 500;
            margin-top: 5px;
            margin-left: -25px;
          }
        }
        .col3 {
          img {
            width: 20px;
            margin-left: 38px;
            margin-top: 20px;
          }
        }
        .col4 {
          img {
            width: 20px;
            margin-left: 38px;
            margin-top: 20px;
          }
        }
        .col5 {
          img {
            width: 27px;
            margin-left: 38px;
            margin-top: 20px;
          }
        }
      }
      .row4 {
        .Product {
          margin-left: 30px;
          font: Regular 18px/27px Poppins;
          letter-spacing: 0px;
          color: #497dd5;
          opacity: 1;
          font-size: small;
          margin-top: 10px;
          font-weight: 700;
        }
        .rowSpeci {
          margin-top: 40px;
          margin-left: -120px;
          button {
            background: #b8b8b8 0% 0% no-repeat padding-box;
            border-radius: 9px;
            opacity: 1;
            font: Regular 17px/26px Poppins;
            letter-spacing: 0px;
            color: #3d3d3d;
            opacity: 1;
            width: 150px;
            font-size: 9px;
            font-weight: bold;
            margin-top: 20px;
          }
        }
      }
      .row5 {
        .BusinessSector {
          text-align: left;
          font: Regular 18px/27px Poppins;
          letter-spacing: 0px;
          color: #497dd5;
          opacity: 1;
          margin-left: 30px;
          font-size: small;
          font-weight: 700;
        }
        .country {
          margin-top: 30px;
          margin-left: -20px;
        }
        .city {
          margin-top: 30px;
          margin-left: 8px;
        }
        .BeautyAnd {
          margin-top: 30px;
          text-align: left;
          font: Regular 15px/23px Poppins;
          letter-spacing: 0px;
          color: #3d3d3d;
          opacity: 1;
          margin-left: -70px;
          font-size: small;
        }
      }
      .row6 {
        h6 {
          font: Regular 18px/27px Poppins;
          letter-spacing: 0px;
          color: #497dd5;
          opacity: 1;
          margin-left: 30px;
          font-size: small;
          font-weight: 700;
        }
        .rowSpeci {
          margin-top: 18px;
          margin-left: -117px;
          .col {
            font: Regular 15px/23px Poppins;
            letter-spacing: 0px;
            color: #8e8e8e;
            opacity: 1;
            font-size: small;
            margin: 15px;
          }
        }
      }
      .container {
        .row {
          background: #eeeeee 0% 0% no-repeat padding-box;
          opacity: 1;
          margin-top: 20px;
          .col1 {
            h6 {
              text-align: left;
              font: Medium 21px/31px Poppins;
              letter-spacing: 0px;
              color: #3d3d3d;
              opacity: 1;
              margin-top: 8px;
            }
          }
          .col2 {
            margin-right: -100px;
            h6 {
              text-align: left;
              font: Regular 22px/33px Poppins;
              letter-spacing: 0px;
              color: #5662fe;
              opacity: 1;
              margin-top: 8px;
              margin-left: 130px;
            }
          }
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  .AboutBisiness {
    margin-left: 15px;
  }
  .Verifications {
    margin-left: 20px;
  }
  #CancelSection {
    margin-top: 20px;
    .cancel {
      background: #ffffff 0% 0% no-repeat padding-box;
      opacity: 1;
      border-radius: 7;
      color: red;
      cursor: pointer;
    }
  }
  #Result {
    float: none;
    margin: 0 auto;
    .card {
      margin-left: 200px;
      margin-top: 100px;
      height: 1200px;
      width: 40rem;
      .row1 {
        .col1 {
          margin-left: 10px;
          margin-top: 10px;
          img {
            width: 80px;
            height: 80px;
            border-radius: 50px;
            box-shadow: 0 0 65px rgba(167, 162, 162, 0.75) inset,
              0 0 20px rgba(167, 162, 162, 0.75) inset,
              0 0 5px rgba(167, 162, 162, 0.75);
          }
        }
        .col2 {
          margin-left: -530px;
          margin-top: 15px;
          width: 400px;
          .BeautyVenture {
            text-align: left;
            font: Regular 20px/30px Poppins;
            letter-spacing: 0px;
            color: #3e3e3e;
            opacity: 1;
            font-size: 20px;
          }
          .verifiedUser {
            color: #5662fe;
            margin-left: 13px;
          }
          .VerifiedOn {
            text-align: left;
            font: Regular 14px/21px Poppins;
            letter-spacing: 0px;
            color: #484848;
            opacity: 1;
            margin-top: 7px;
            font-size: small;
            margin-left: 5px;
          }
        }
        .col3 {
          margin-top: -70px;
          margin-left: 470px;
          .OpenA {
            text-align: left;
            text-decoration: underline;
            font: Regular 15px/37px Poppins;
            letter-spacing: 0.19px;
            color: #ff0045;
            opacity: 1;
            cursor: pointer;
          }
        }
      }
      .row2 {
        h6 {
          text-align: center;
          font: Regular 16px/25px Poppins;
          letter-spacing: 0px;
          color: #101010;
          opacity: 1;
          font-size: small;
        }
      }
      .row3 {
        margin-left: -30px;
        .col1 {
          img {
            width: 20px;
            margin-left: 110px;
          }
        }
        .col2 {
          h6 {
            font: Regular 15px/23px Poppins;
            letter-spacing: 0px;
            color: #8e8e8e;
            opacity: 1;
            font-weight: 500;
            margin-top: 5px;
            margin-left: -25px;
          }
        }
        .col3 {
          img {
            width: 20px;
          }
        }
        .col4 {
          img {
            width: 20px;
          }
        }
        .col5 {
          img {
            width: 27px;
          }
        }
      }
      .row4 {
        .Product {
          margin-left: 30px;
          font: Regular 18px/27px Poppins;
          letter-spacing: 0px;
          color: #497dd5;
          opacity: 1;
          font-size: small;
          margin-top: 10px;
          font-weight: 700;
        }
        .rowSpeci {
          margin-top: 40px;
          margin-left: -120px;
          button {
            background: #b8b8b8 0% 0% no-repeat padding-box;
            border-radius: 9px;
            opacity: 1;
            font: Regular 17px/26px Poppins;
            letter-spacing: 0px;
            color: #3d3d3d;
            opacity: 1;
            width: 130px;
            font-size: 9px;
            margin-top: 9px;
          }
        }
      }
      .row5 {
        .BusinessSector {
          text-align: left;
          font: Regular 18px/27px Poppins;
          letter-spacing: 0px;
          color: #497dd5;
          opacity: 1;
          margin-left: 30px;
          font-size: small;
          font-weight: 700;
        }
        .BeautyAnd {
          margin-top: 30px;
          text-align: left;
          font: Regular 15px/23px Poppins;
          letter-spacing: 0px;
          color: #3d3d3d;
          opacity: 1;
          margin-left: -70px;
          font-size: small;
        }
      }
      .row6 {
        h6 {
          font: Regular 18px/27px Poppins;
          letter-spacing: 0px;
          color: #497dd5;
          opacity: 1;
          margin-left: 30px;
          font-size: small;
          font-weight: 700;
        }
        .rowSpeci {
          margin-top: 18px;
          margin-left: -117px;
          .col {
            font: Regular 15px/23px Poppins;
            letter-spacing: 0px;
            color: #8e8e8e;
            opacity: 1;
            font-size: small;
            margin: 15px;
          }
        }
      }
      .container {
        .row {
          background: #eeeeee 0% 0% no-repeat padding-box;
          opacity: 1;
          margin-top: 20px;
          .col1 {
            h6 {
              text-align: left;
              font: Medium 21px/31px Poppins;
              letter-spacing: 0px;
              color: #3d3d3d;
              opacity: 1;
              margin-top: 8px;
            }
          }
          .col2 {
            margin-right: -300px;
            h6 {
              text-align: left;
              font: Regular 22px/33px Poppins;
              letter-spacing: 0px;
              color: #5662fe;
              opacity: 1;
              margin-top: 8px;
            }
          }
        }
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .AboutBisiness {
    margin-left: 15px;
  }
  .Verifications {
    margin-left: 20px;
  }
  #CancelSection {
    margin-top: 20px;
    .cancel {
      background: #ffffff 0% 0% no-repeat padding-box;
      opacity: 1;
      border-radius: 7;
      color: red;
      cursor: pointer;
    }
  }
  #Result {
    .card {
      margin-left: 350px;
      margin-top: 100px;
      height: 1240px;
      width: 40rem;
      .row1 {
        .col1 {
          margin-left: 10px;
          margin-top: 10px;
          img {
            width: 80px;
            height: 80px;
            border-radius: 60px;
            box-shadow: 2.5px 2.5px 2.5px 0px rgba(167, 162, 162, 0.75);
            box-shadow: 0 0 65px rgba(167, 162, 162, 0.75) inset,
              0 0 20px rgba(167, 162, 162, 0.75) inset,
              0 0 5px rgba(167, 162, 162, 0.75);
          }
        }
        .col2 {
          margin-left: -530px;
          margin-top: 15px;
          .BeautyVenture {
            text-align: left;
            font: Regular 20px/30px Poppins;
            letter-spacing: 0px;
            color: #3e3e3e;
            opacity: 1;
            font-size: 20px;
          }
          .verifiedUser {
            color: #5662fe;
            margin-left: 13px;
          }
          .VerifiedOn {
            text-align: left;
            font: Regular 14px/21px Poppins;
            letter-spacing: 0px;
            color: #484848;
            opacity: 1;
            margin-top: 7px;
            font-size: small;
            margin-left: 5px;
          }
        }
        .col3 {
          margin-top: -70px;
          margin-left: 300px;
          .OpenA {
            text-align: right;
            text-decoration: underline;
            font: Regular 15px/37px Poppins;
            letter-spacing: 0.19px;
            color: #ff0045;
            opacity: 1;
            cursor: pointer;
          }
        }
      }
      .row2 {
        h6 {
          font: Regular 16px/25px Poppins;
          letter-spacing: 0px;
          color: #101010;
          opacity: 1;
          font-size: small;
        }
      }
      .row3 {
        margin-left: -30px;
        .col1 {
          img {
            width: 20px;
            margin-left: 110px;
          }
        }
        .AboutBisiness {
          margin-left: 30px;
        }
        .col2 {
          h6 {
            font: Regular 15px/23px Poppins;
            letter-spacing: 0px;
            color: #8e8e8e;
            opacity: 1;
            font-weight: 500;
            margin-top: 5px;
            margin-left: -25px;
          }
        }
        .col3 {
          img {
            width: 20px;
          }
        }
        .col4 {
          img {
            width: 20px;
          }
        }
        .col5 {
          img {
            width: 27px;
          }
        }
      }
      .row4 {
        .Product {
          margin-left: 30px;
          font: Regular 18px/27px Poppins;
          letter-spacing: 0px;
          color: #497dd5;
          opacity: 1;
          font-size: small;
          margin-top: 10px;
          font-weight: 700;
        }
        .rowSpeci {
          margin-top: 40px;
          margin-left: -120px;
          button {
            background: #b8b8b8 0% 0% no-repeat padding-box;
            border-radius: 9px;
            opacity: 1;
            font: Regular 17px/26px Poppins;
            letter-spacing: 0px;
            color: #3d3d3d;
            opacity: 1;
            width: 130px;
            font-size: 9px;
            margin-top: 8px;
          }
        }
      }
      .row5 {
        .BusinessSector {
          text-align: left;
          font: Regular 18px/27px Poppins;
          letter-spacing: 0px;
          color: #497dd5;
          opacity: 1;
          margin-left: 30px;
          font-size: small;
          font-weight: 700;
        }
        .BeautyAnd {
          margin-top: 30px;
          text-align: left;
          font: Regular 15px/23px Poppins;
          letter-spacing: 0px;
          color: #3d3d3d;
          opacity: 1;
          margin-left: -70px;
          font-size: small;
        }
        .country {
          margin-top: 30px;
          text-align: left;
          font: Regular 15px/23px Poppins;
          letter-spacing: 0px;
          color: #3d3d3d;
          opacity: 1;
          font-size: small;
          margin-left: -20px;
        }
        .city {
          margin-top: 30px;
          text-align: left;
          font: Regular 15px/23px Poppins;
          letter-spacing: 0px;
          color: #3d3d3d;
          opacity: 1;
          font-size: small;
          margin-left: 7px;
        }
      }
      .row6 {
        h6 {
          font: Regular 18px/27px Poppins;
          letter-spacing: 0px;
          color: #497dd5;
          opacity: 1;
          margin-left: 30px;
          font-size: small;
          font-weight: 700;
        }
        .rowSpeci {
          margin-top: 18px;
          margin-left: -117px;
          .col {
            font: Regular 15px/23px Poppins;
            letter-spacing: 0px;
            color: #8e8e8e;
            opacity: 1;
            font-size: small;
            margin: 15px;
          }
        }
      }
      .container {
        .row {
          background: #eeeeee 0% 0% no-repeat padding-box;
          opacity: 1;
          margin-top: 20px;
          .col1 {
            h6 {
              text-align: left;
              font: Medium 21px/31px Poppins;
              letter-spacing: 0px;
              color: #3d3d3d;
              opacity: 1;
              margin-top: 8px;
            }
          }
          .col2 {
            margin-right: -430px;
            h6 {
              text-align: left;
              font: Regular 22px/33px Poppins;
              letter-spacing: 0px;
              color: #5662fe;
              opacity: 1;
              margin-top: 8px;
            }
          }
        }
      }
    }
  }
}
