<div class="container">
  <div class="row">
    <div class="col-sm" id="col-sm">
      <div class="card">
        <div class="ServiceStep2">
          <mat-icon class="cancel">cancel</mat-icon>
          <h6>Service: Step 2 of 2</h6>
          <hr
            style="  width: 600px;
            border-color: 1px solid #707070;
            border-width: 1.9px;
            opacity: 1;"
          />
        </div>
        <div class="card-body">
          <div id="TransactionResume">
            <h5 class="TransactionResume">
              Transaction Resume
            </h5>
          </div>
          <div class="Billing">
            <h5 class="BILLINGINFORMATION">
              BILLING INFORMATION
            </h5>
            <div class="row" id="Calcule1">
              <div class="col-sm">
                <h6 class="Shoesandsock">Shoes and sock</h6>
              </div>
              <div class="col-sm">
                <h6 class="Tolale1">150.00</h6>
              </div>
            </div>
            <div class="row" id="Calcule2">
              <div class="col-sm">
                <h6>
                  <div class="row">
                    <div class="col-sm">
                      <h6 class="NoworriFees">Noworri Fees</h6>
                    </div>
                    <div class="col-sm">
                      <h6 class="Tolale2">52.00</h6>
                    </div>
                  </div>
                </h6>
              </div>
            </div>
            <hr
              style="  width: 600px;
            border-color: 1px solid black;
            border-width: 1.9px;
            opacity: 1;"
            />
            <div class="row" id="Tolale3">
              <div class="col-sm">
                <h6 class="NETPAYABLE">NET PAYABLE</h6>
              </div>
              <div class="col-sm">
                <h6 class="Tolale3">202.00</h6>
              </div>
            </div>
          </div>
          <div class="MoreInformation">
            <h5 class="MOREINFORMATIONS">MORE INFORMATIONS</h5>
            <div class="row">
              <div class="col-sm">
                <h6 class="NumberofRevisions">Number of Revisions</h6>
              </div>
              <div class="col-sm">
                <h6 class="Calcule1">2</h6>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <h6 class="Transactiondeadtime">Transaction dead time</h6>
              </div>
              <div class="col-sm">
                <h6 class="Calcule2">8 Hours</h6>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <h6 class="Buyersusername">Buyer's username</h6>
              </div>
              <div class="col-sm">
                <h6 class="Calcule3">Kira.121</h6>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <h6 class="Sellersusername">Seller's username</h6>
              </div>
              <div class="col-sm">
                <h6 class="Calcul3">Rorona</h6>
              </div>
            </div>
          </div>
          <div id="Requirement">
            <h6 class="Requirement">REQUIREMENTS</h6>
            <div id="Paragraphe">
              <p class="paragraphe">
                Define a dead time of the transaction so in case anything was
                not done after the end of the transaction Noworri will cancel it
                Define a dead time of the transaction so in case anything was
                not done after the end of the transaction Noworri will cancel it
                Define a dead time of the transaction so in case anything was
                not done after the end of the transaction Noworri will cancel it
                Define a dead time of the transaction so in case anything was
                not done after the end of the transaction Noworri will cancel it
                Define a dead time of the transaction so in case anything was
                not done after the end of the transaction Noworri will cancel it
              </p>
              <div class="Link">
                <a class="nav-link" href="#">Attached file</a>
              </div>
              <div class="Fichiers">
                <h6 class="Amelplan">Amel plan of house.PDF</h6>
                <h6 class="Architech">Architech building.PNG</h6>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm" id="STARTNOWORRI">
              <button type="submit" (click)='re()'  class="btn btn-primary btn-sm">
                START NOWORRI
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="container" id="CARDS">
        <div class="col" id="card1">
          <div class="card w-100">
            <div class="card-body">
              <div class="row">
                <div class="col-2 local_offer">
                  <mat-icon class="local"> local_offer</mat-icon>
                </div>
                <div class="col">
                  <p>
                    Review your transaction details and make sure everything is
                    accurate.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
