.container {
  #col-sm {
    .card {
      .card-body {
        #TransactionResume {
          background: #2bb996 0% 0% no-repeat padding-box;
          opacity: 1;
          margin-top: -22px;
          .TransactionResume {
            text-align: left;
            font: Regular 20px/30px Poppins;
            letter-spacing: 0;
            color: #686868;
            opacity: 1;
            height: 20px;
            font-size: small;
            font-weight: 400;
            margin-left: 5px;
            margin-top: 5px;
          }
        }
        .Billing {
          .BILLINGINFORMATION {
            text-align: left;
            font: Semibold 20px/27px Segoe UI;
            letter-spacing: 0;
            color: #2bb996;
            opacity: 1;
            margin-top: 60px;
          }
          #Calcule1 {
            .Shoesandsock {
              text-align: left;
              font: Semibold 22px/30px Segoe UI;
              letter-spacing: 0;
              color: #686868;
              opacity: 1;
              margin-top: 30px;
              margin-left: 40px;
            }
            .Tolale1 {
              text-align: left;
              font: Semibold 22px/30px Segoe UI;
              letter-spacing: 0;
              color: #686868;
              opacity: 1;
              margin-top: 30px;
              margin-left: 235px;
            }
          }
          #Calcule2 {
            .NoworriFees {
              text-align: left;
              font: Semibold 22px/30px Segoe UI;
              letter-spacing: 0;
              color: #686868;
              opacity: 1;
              margin-top: 30px;
              margin-left: 40px;
            }
            .Tolale2 {
              text-align: left;
              font: Semibold 22px/30px Segoe UI;
              letter-spacing: 0;
              color: #686868;
              opacity: 1;
              margin-top: 30px;
              margin-left: 235px;
            }
          }
          #Tolale3 {
            .NETPAYABLE {
              text-align: left;
              font: Semibold 22px/30px Segoe UI;
              letter-spacing: 0;
              color: #686868;
              opacity: 1;
            }
            .Tolale3 {
              text-align: left;
              font: Semibold 22px/30px Segoe UI;
              letter-spacing: 0;
              color: #686868;
              opacity: 1;
              margin-left: 235px;
            }
          }
        }
        .MoreInformation {
          .MOREINFORMATIONS {
            text-align: left;
            font: Semibold 20px/27px Segoe UI;
            letter-spacing: 0;
            color: #2bb996;
            opacity: 1;
            margin-top: 35px;
          }
          .NumberofRevisions {
            text-align: left;
            font: Semibold 22px/30px Segoe UI;
            letter-spacing: 0;
            color: #686868;
            opacity: 1;
            margin-top: 30px;
            margin-left: 40px;
          }
          .Calcule1 {
            text-align: left;
            font: Semibold 22px/30px Segoe UI;
            letter-spacing: 0;
            color: #686868;
            opacity: 1;
            margin-top: 30px;
            margin-left: 270px;
          }
          .Transactiondeadtime {
            text-align: left;
            font: Semibold 22px/30px Segoe UI;
            letter-spacing: 0;
            color: #686868;
            opacity: 1;
            margin-top: 30px;
            margin-left: 40px;
          }
          .Calcule2 {
            text-align: left;
            font: Semibold 22px/30px Segoe UI;
            letter-spacing: 0;
            color: #686868;
            opacity: 1;
            margin-top: 30px;
            margin-left: 230px;
          }
          .Buyersusername {
            text-align: left;
            font: Semibold 22px/30px Segoe UI;
            letter-spacing: 0;
            color: #686868;
            opacity: 1;
            margin-top: 30px;
            margin-left: 40px;
          }
          .Calcule3 {
            text-align: left;
            font: Semibold 22px/30px Segoe UI;
            letter-spacing: 0;
            color: #686868;
            opacity: 1;
            margin-top: 30px;
            margin-left: 230px;
          }
          .Sellersusername {
            text-align: left;
            font: Semibold 22px/30px Segoe UI;
            letter-spacing: 0;
            color: #686868;
            opacity: 1;
            margin-top: 30px;
            margin-left: 40px;
          }
          .Calcul3 {
            text-align: left;
            font: Semibold 22px/30px Segoe UI;
            letter-spacing: 0;
            color: #686868;
            opacity: 1;
            margin-top: 30px;
            margin-left: 230px;
          }
        }
        #Requirement {
          .Requirement {
            text-align: left;
            font: Semibold 20px/27px Segoe UI;
            letter-spacing: 0;
            color: #2bb996;
            opacity: 1;
            margin-top: 35px;
          }
          #Paragraphe {
            margin-top: 20px;
            margin-left: 10px;
            .paragraphe {
              text-align: left;
              font: Regular 20px/27px Segoe UI;
              letter-spacing: 0;
              color: #484848;
              opacity: 1;
              font-size: small;
            }
            .Link {
              a {
                text-align: left;
                text-decoration: underline;
                font: Bold 20px/27px Segoe UI;
                letter-spacing: 0;
                color: #497dd5;
                opacity: 1;
                font-size: small;
                margin-top: 50px;
              }
            }
            .Amelplan {
              text-align: left;
              font: Regular 20px/23px Arial;
              letter-spacing: 0;
              color: #686868;
              opacity: 1;
              margin-top: 10px;
              font-size: small;
            }
            .Architech {
              text-align: left;
              font: Regular 20px/23px Arial;
              letter-spacing: 0;
              color: #686868;
              opacity: 1;
              margin-top: 10px;
              font-size: small;
            }
          }
        }
        #STARTNOWORRI {
          margin-left: 280px;
          button {
            background: #2bb996 0% 0% no-repeat padding-box;
            border-radius: 11px;
            opacity: 1;
            text-align: left;
            font: Regular 24px/35px Poppins;
            letter-spacing: 0;
            color: #ffffff;
            opacity: 1;
          }
        }
       
      }
      margin-top: 70px;
      margin-left: -10px;
      width: 640px;
      background: #ffffff 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 14px;
      opacity: 1;
      .cancel {
        margin-left: 600px;
        font-size: 35px;
        margin-bottom: 9px;
        margin-top: 6px;
        opacity: 1;
        color: red;
      }
    }
    .ServiceStep2 {
      h6 {
        text-align: left;
        font: Regular 40px/60px Poppins;
        letter-spacing: 0;
        color: #7a4bff;
        opacity: 1;
        font-weight: 400;
        font-size: 30px;
        margin-top: -15px;
        margin-left: 25px;
      }
    }
  }
}
//--------------La carte de la sid bar---------------//
#CARDS{
    margin-left: -40px;
    margin-top: 150px;
    #card1 {
        width: 350px;
        .card {
          background: #2bb996 0% 0% no-repeat padding-box;
          opacity: 1;
          height: 110px;
          .card-body {
            .local_offer {
              margin-top: 13px;
              transform: rotate(90deg);
              margin-right: -30px;
              .local {
                color: #4bff69;
                opacity: 1;
              }
            }
            p {
              text-align: left;
              font: Regular 20px/27px Segoe UI;
              letter-spacing: 0;
              color: #484848;
              opacity: 1;
              font-size: small;
            }
          }
          .local_offer {
            height: 0px;
          }
        }
      } 
}