.container {
  #col-sm {
    .card {
      margin-top: 70px;
      margin-left: -10px;
      width: 640px;
      background: #ffffff 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 14px;
      opacity: 1;
      .cancel {
        margin-left: 600px;
        font-size: 35px;
        margin-bottom: 9px;
        margin-top: 6px;
        opacity: 1;
        color: red;
      }
      .card-body {
        #Please {
          background: #2bb996 0% 0% no-repeat padding-box;
          opacity: 1;
          margin-top: -22px;
          .Please {
            text-align: left;
            font: Regular 20px/30px Poppins;
            letter-spacing: 0;
            color: #686868;
            opacity: 1;
            height: 20px;
            font-size: small;
            font-weight: 400;
            margin-left: 5px;
            margin-top: 5px;
          }
        }
      }
      #Form1 {
        margin-top: 40px;
        label {
          text-align: left;
          font: Semibold 20px/27px Segoe UI;
          letter-spacing: 0;
          color: #484848;
          opacity: 1;
          font-size: 14px;
          margin-bottom: 16px;
        }
        input {
          border-color: 1px solid #707070;
          border-radius: 6px;
          opacity: 1;
          width: 520px;
        }
      }
      #Form2 {
        .WHAT {
          margin-top: 10px;
        }
        label {
          margin-top: 8px;
        }

        input {
          width: 500px;
          border-top-left-radius: 6px;
          border-bottom-left-radius: 6px;
        }
        .input-group-text {
          margin-left: -31px;
          opacity: 1;
          background-color: white;
          border-top-right-radius: 6px;
          border-bottom-right-radius: 6px;
          width: 100px;
          img {
            height: 20px;
          }
          .GHC {
            color: #2680eb;
            font-size: 10px;
            margin-left: 13px;
            margin-bottom: -4px;
            margin-bottom: 4px;
            margin-top: 3px;
          }
        }
        .container {
          .col-sm {
            button {
              background: #2bb996 0% 0% no-repeat padding-box;
              border-radius: 11px;
              opacity: 1;
              margin-left: 200px;
              margin-top: 40px;
              text-align: left;
              font: Regular 24px/35px Poppins;
              letter-spacing: 0;
              color: #ffffff;
              opacity: 1;
              width: 100px;
              height: 40px;
              font-size: medium;
            }
          }
        }
      }
      #PrincipaleTitle {
        text-align: left;
        font: Semibold 20px/27px Segoe UI;
        letter-spacing: 0;
        color: black;
        opacity: 1;
      }
      #PetitInput1 {
        margin-top: 18px;
        label {
          text-align: left;
          font: Semibold 20px/27px Segoe UI;
          letter-spacing: 0;
          color: #484848;
          opacity: 1;
        }
        input {
          border-color: 1px solid #707070;
          border-radius: 6px;
          opacity: 1;
          width: 100px;
        }
        #Days {
          background-color: red;
        }
      }
      #PetitInput2 {
        margin-top: 20px;
        input {
          border-color: 1px solid #707070;
          border-radius: 6px;
          opacity: 1;
          width: 100px;
        }
        #mat-radio-button {
          margin-top: 40px;
          margin-left: -350px;
          text-align: left;
          font: Semibold 20px/27px Segoe UI;
          letter-spacing: 0;
          color: #484848;
          opacity: 1;

          .mat-radio-button {
            margin: 7px;
          }
        }
      }
      #PetitInput3 {
        margin-top: 18px;
        label {
          margin-top: 5px;
          text-align: left;
          font: Semibold 20px/27px Segoe UI;
          letter-spacing: 0;
          color: #484848;
          opacity: 1;
        }
        textarea {
          margin-top: 5px;
          width: 530px;
          height: 150px;
          border-color: 1px solid #707070;
          border-radius: 13px;
          opacity: 1;
        }
      }
      .Link {

        a {
          text-align: left;
          text-decoration: underline;
          font: Bold 20px/27px Segoe UI;
          letter-spacing: 0;
          color: #497dd5;
          opacity: 1;
          font-size: small;
          margin-top: 50px;
        }
      }
    }
    .ServiceStep1 {
      h6 {
        text-align: left;
        font: Regular 40px/60px Poppins;
        letter-spacing: 0;
        color: #7a4bff;
        opacity: 1;
        font-weight: 400;
        font-size: 30px;
        margin-top: -15px;
        margin-left: 25px;
      }
      hr {
        width: 600px;
        border-color: 1px solid #707070;
        border-width: 1.9px;
        opacity: 1;
      }
    }
  }
  #CARDS {
    margin-left: -40px;
    #card1 {
      width: 350px;
      margin-top: 240px;
      .card {
        background: #2bb996 0% 0% no-repeat padding-box;
        opacity: 1;
        height: 110px;
        .card-body {
          .local_offer {
            margin-top: 13px;
            transform: rotate(90deg);
            margin-right: -30px;
            .local {
              color: #4bff69;
              opacity: 1;
            }
          }
          p {
            text-align: left;
            font: Regular 20px/27px Segoe UI;
            letter-spacing: 0;
            color: #484848;
            opacity: 1;
            font-size: small;
          }
        }
        .local_offer {
          height: 0px;
        }
      }
    }
    #card2 {
      width: 350px;
      margin-top: 340px;
      .card {
        background: #2bb996 0% 0% no-repeat padding-box;
        opacity: 1;
        height: 80px;
        .card-body {
          .local_offer {
            margin-top: 13px;
            transform: rotate(90deg);
            margin-right: -30px;
            .local {
              color: #4bff69;
              opacity: 1;
            }
          }
          p {
            text-align: left;
            font: Regular 20px/27px Segoe UI;
            letter-spacing: 0;
            color: #484848;
            opacity: 1;
            font-size: small;
            margin-top: -10px;
          }
        }
        .local_offer {
          height: 0px;
        }
      }
    }
    #card3 {
      width: 350px;
      margin-top: 468px;
      .card {
        margin-top: 100px;
        background: #2bb996 0% 0% no-repeat padding-box;
        opacity: 1;
        height: 80px;
        .card-body {
          .local_offer {
            margin-top: 13px;
            transform: rotate(90deg);
            margin-right: -30px;
            .local {
              color: #4bff69;
              opacity: 1;
            }
          }
          p {
            text-align: left;
            font: Regular 20px/27px Segoe UI;
            letter-spacing: 0;
            color: #484848;
            opacity: 1;
            font-size: small;
          }
        }
        .local_offer {
          height: 0px;
        }
      }
    }
    #card4 {
      width: 350px;
      margin-top: 540px;
      .card {
        margin-top: 220px;
        background: #2bb996 0% 0% no-repeat padding-box;
        opacity: 1;
        height: 85px;
        .card-body {
          .local_offer {
            margin-top: 13px;
            transform: rotate(90deg);
            margin-right: -30px;
            .local {
              color: #4bff69;
              opacity: 1;
            }
          }
          p {
            text-align: left;
            font: Regular 20px/27px Segoe UI;
            letter-spacing: 0;
            color: #484848;
            opacity: 1;
            font-size: small;
          }
        }
        .local_offer {
          height: 0px;
        }
      }
    }
    #card5 {
      width: 350px;
      margin-top: 650px;
      .card {
        margin-top: 320px;
        background: #2bb996 0% 0% no-repeat padding-box;
        opacity: 1;
        height: 85px;
        .card-body {
          .local_offer {
            margin-top: 13px;
            transform: rotate(90deg);
            margin-right: -30px;
            .local {
              color: #4bff69;
              opacity: 1;
            }
          }
          p {
            text-align: left;
            font: Regular 20px/27px Segoe UI;
            letter-spacing: 0;
            color: #484848;
            opacity: 1;
            font-size: small;
          }
        }
        .local_offer {
          height: 0px;
        }
      }
    }

    #card6 {
      width: 350px;
      margin-top: 840px;
      .card {
        margin-top: 480px;
        background: #2bb996 0% 0% no-repeat padding-box;
        opacity: 1;
        height: 60px;
        .card-body {
          .local_offer {
            margin-top: 13px;
            transform: rotate(90deg);
            margin-right: -30px;
            .local {
              color: #4bff69;
              opacity: 1;
            }
          }
          p {
            text-align: left;
            font: Regular 20px/27px Segoe UI;
            letter-spacing: 0;
            color: #484848;
            opacity: 1;
            font-size: small;
          }
        }
        .local_offer {
          height: 0px;
        }
      }
    }

    #card7 {
      width: 350px;
      margin-top: 950px;
      .card {
        margin-top: 550px;
        background: #2bb996 0% 0% no-repeat padding-box;
        opacity: 1;
        height: 85px;
        .card-body {
          .local_offer {
            margin-top: 13px;
            transform: rotate(90deg);
            margin-right: -30px;
            .local {
              color: #4bff69;
              opacity: 1;
            }
          }
          p {
            text-align: left;
            font: Regular 20px/27px Segoe UI;
            letter-spacing: 0;
            color: #484848;
            opacity: 1;
            font-size: small;
          }
        }
        .local_offer {
          height: 0px;
        }
      }
    }
  }
}
