// ------------La NavBar------------//
#pcoded {
  #NavBar {
    .navbar-container {
      .main-menu-header {
        margin-top: 20px;
        img {
          width: 45px;
          height: 45px;
          box-shadow: 0px 0px 10px #00000029;
        }
      }
      #ProfilNameEtMail {
        margin-top: 25px;
        .Nom {
          text-align: left;
          font: Regular 24px/35px Poppins;
          letter-spacing: 0;
          color: #000000;
          opacity: 1;
          font-size: 13px;
        }
        .Mail {
          text-align: left;
          font: Regular 20px/27px Segoe UI;
          letter-spacing: 0;
          color: #9b9b9b;
          opacity: 1;
          font-size: small;
          font-weight: 100;
        }
      }
    }
    .header-search {
      top: 15px;
      left: 13px;
      #main-search {
        .input-group {
          box-shadow: 0px 3px 6px #00000029;
          border-radius: 9px;
          opacity: 1;
          width: 400px;
        }
      }
    }
  }
  .nav-right {
    margin-right: -26px;
    li {
      top: 5px;
      a {
        color: #686868;
        text-align: left;
        font: Regular 24px/35px Poppins;
        letter-spacing: 0;
        opacity: 1;
        font-size: 16px;
      }
      #AddBussines {
      margin-right: -45px;
      }
      #Notifications {
        margin-top: 8px;
        font-weight: bold;
      }
    }
  }
  // ---sideBar---------//
  .SideBar {
    margin-top: 120px;
    margin-left: 32px;
    border-width: 0px;
    .nav-link {
      text-align: left;
      font: Semibold 26px/35px Segoe UI;
      letter-spacing: 0;
      &:hover {
        color: #2bb996;
      }
      opacity: 1;
      font-weight: bold;
      color: #000000;
      margin: 3px;
    }
  }
}
//---------------Template-------------------------//

.modal-header {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  h6 {
    text-align: left;
    font: Semibold 28px/37px Segoe UI;
    letter-spacing: 0;
    color: #497dd5;
    opacity: 1;
  }
}
.modal-body {
  .What {
    text-align: left;
    font: Semibold 20px/27px Segoe UI;
    letter-spacing: 0;
    color: #484848;
    opacity: 1;
    margin-top: 40px;
    font-weight: 500;
  }
  input {
    width: 410px;
    border-color: 0.5px solid #707070;
    border-radius: 10px;
    opacity: 1;
  }
  .HowDo {
    text-align: left;
    font: Semibold 20px/27px Segoe UI;
    letter-spacing: 0;
    color: #484848;
    opacity: 1;
    margin-top: 40px;
    font-weight: 500;
    .Roselina {
      color: #ff3400;
      text-align: left;
      font: Semibold 20px/27px Segoe UI;
      letter-spacing: 0;
    }
  }
  #example-margin {
    margin-top: 8px;
    text-align: left;
    font: Regular 14px/21px Poppins;
    letter-spacing: 0;
    color: #707070;
    opacity: 1;
    font-size: 13px;
    .Roselina {
      color: #ff3400;
      text-align: left;
      font: Semibold 20px/27px Segoe UI;
      letter-spacing: 0;
      font-weight: 500;
    }
  }
  #example-margin1 {
    margin-top: 8px;
    text-align: left;
    font: Regular 14px/21px Poppins;
    letter-spacing: 0;
    color: #707070;
    opacity: 1;
    font-size: 13px;

    margin-left: 7px;
    .Roselina {
      color: #ff3400;
      text-align: left;
      font: Semibold 20px/27px Segoe UI;
      letter-spacing: 0;
      font-weight: 500;
    }
  }
  .Select {
    text-align: left;
    font: Semibold 20px/27px Segoe UI;
    letter-spacing: 0;
    color: #484848;
    opacity: 1;
    margin-top: 40px;
    font-weight: 500;
    .Roselina {
      color: #ff3400;
      text-align: left;
      font: Semibold 20px/27px Segoe UI;
      letter-spacing: 0;
      font-weight: 500;
    }
  }
  #MTN {
    text-align: left;
    font: Regular 14px/21px Poppins;
    letter-spacing: 0;
    color: #707070;
    opacity: 1;
    margin-top: 7px;
    margin-left: 20px;
    font-size: 13px;
  }
  #VODAFONE {
    text-align: left;
    font: Regular 14px/21px Poppins;
    letter-spacing: 0;
    color: #707070;
    opacity: 1;
    margin-top: 7px;
    margin-left: 20px;
    font-size: 13px;
  }
  #AIRTELTIGO {
    text-align: left;
    font: Regular 14px/21px Poppins;
    letter-spacing: 0;
    color: #707070;
    opacity: 1;
    margin-top: 7px;
    margin-left: 20px;
    font-size: 13px;
  }
  .EnterRo {
    text-align: left;
    font: Semibold 20px/27px Segoe UI;
    letter-spacing: 0;
    color: #484848;
    opacity: 1;
    margin-top: 40px;
    font-weight: 500;
    .Roselina {
      color: #ff3400;
      text-align: left;
      font: Semibold 20px/27px Segoe UI;
      letter-spacing: 0;
      font-weight: 500;
    }
  }
  .Howmuch {
    text-align: left;
    font: Semibold 20px/27px Segoe UI;
    letter-spacing: 0;
    color: #484848;
    opacity: 1;
    margin-top: 40px;
    font-weight: 500;
  }
  #TransationFee {
    .fee {
      text-align: left;
      font: Semibold 15px/20px Segoe UI;
      letter-spacing: 0;
      color: #497dd5;
      opacity: 1;
    }
    .chiffre {
      text-align: left;
      font: Semibold 15px/20px Segoe UI;
      letter-spacing: 0;
      color: #497dd5;
      opacity: 1;
    }
  }
  #Button {
    margin-top: 35px;

    .Cancel {
      background: #f9f9f9 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      border: 0.5px solid #707070;
      border-radius: 14px;
      opacity: 1;
      text-align: left;
      font: Semibold 22px/30px Segoe UI;
      letter-spacing: 0;
      color: #484848;
      opacity: 1;
      left: 250px;
    }
    .Continue {
      background: #497dd5 0% 0% no-repeat padding-box;
      border-radius: 14px;
      opacity: 1;
      text-align: left;
      font: Semibold 22px/30px Segoe UI;
      letter-spacing: 0;
      color: #ffffff;
      opacity: 1;
      left: 300px;
    }
  }
}
//--------------Template2----------------//
#Youre {
  h6 {
    text-align: left;
    font: Semibold 28px/37px Segoe UI;
    letter-spacing: 0;
    color: #497dd5;
    opacity: 1;
    .Roselina {
      color: #ff3400;
    }
  }
}
#modal-body {
  .Youwill {
    ext-align: left;
    font: Semibold 20px/27px Segoe UI;
    letter-spacing: 0;
    color: #707070;
    opacity: 1;
  }
  .soix {
    text-align: left;
    font: Semibold 20px/27px Segoe UI;
    letter-spacing: 0;
    color: #707070;
    opacity: 1;
  }
  hr {
    width: 200px;
    height: 1px;
    background-color: black;
    margin-right: 300px;
  }
  .MobileWallet {
    text-align: left;
    font: Semibold 20px/27px Segoe UI;
    letter-spacing: 0;
    color: #484848;
    opacity: 1;
    margin-top: 30px;
  }
  .MTN {
    text-align: left;
    font: Regular 18px/27px Poppins;
    letter-spacing: 0;
    color: #484848;
    opacity: 1;
    font-size: small;
    font-weight: 500;
  }
  .Selectyour {
    text-align: left;
    font: Semibold 20px/27px Segoe UI;
    letter-spacing: 0;
    color: #484848;
    opacity: 1;
    margin-top: 40px;
  }

  #Payement {
    button {
      background: #ffffff 0% 0% no-repeat padding-box;
      box-shadow: 0px 0px 5px #00000029;
      border: 1px solid #7a4bff;
      border-radius: 15px;
      opacity: 1;
      text-align: left;
      font: Regular 18px/27px Poppins;
      letter-spacing: 0;
      color: #3d3d3d;
      opacity: 1;
      left: 30px;
      top: 60px;
    }
  }
  #Button {
    .Goback {
      background: #f9f9f9 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      border: 0.5px solid #707070;
      border-radius: 14px;
      opacity: 1;
      margin-left: 230px;
      text-align: left;
      font: Semibold 22px/30px Segoe UI;
      letter-spacing: 0;
      color: #484848;
      opacity: 1;
    }
    .Sendmoney {
      background: #497dd5 0% 0% no-repeat padding-box;
      border-radius: 14px;
      opacity: 1;
      text-align: left;
      font: Semibold 22px/30px Segoe UI;
      letter-spacing: 0;
      color: #ffffff;
      opacity: 1;
      margin-left: -10px;
    }
  }
  #Payement1 {
    margin-top: 40px;
    h6 {
      text-align: left;
      font: Regular 18px/27px Poppins;
      letter-spacing: 0;
      color: #2718f3;
      opacity: 1;
      margin-top: 15px;
    }

    &:hover {
      background: #ffffff 0% 0% no-repeat padding-box;
      box-shadow: 0px 0px 5px #00000029;
      border: 1px solid #5662fe;
      opacity: 1;
      height: 50px;
      width: 380px;
      margin-left: 15px;
      button {
        margin-left: 28px;
      }
    }
    button {
      background: #ffffff 0% 0% no-repeat padding-box;
      box-shadow: 0px 0px 5px #00000029;
      border: 1px solid #7a4bff;
      border-radius: 15px;
      opacity: 1;
      margin-top: 6px;
    }
  }

  #Payement2 {
    margin-top: 10px;
    h6 {
      text-align: left;
      font: Regular 18px/27px Poppins;
      letter-spacing: 0;
      color: #2718f3;
      opacity: 1;
      margin-top: 15px;
    }

    &:hover {
      background: #ffffff 0% 0% no-repeat padding-box;
      box-shadow: 0px 0px 5px #00000029;
      border: 1px solid #5662fe;
      opacity: 1;
      height: 50px;
      width: 350px;
      margin-left: 15px;
      button {
        margin-left: 43px;
      }
    }
    button {
      background: #ffffff 0% 0% no-repeat padding-box;
      box-shadow: 0px 0px 5px #00000029;
      border: 1px solid #7a4bff;
      border-radius: 15px;
      opacity: 1;
      margin-top: 6px;
      margin-right: -30px;
    }
  }
}
//-------------Request founds------------------//
.modal-header {
  h4 {
    text-align: left;
    font: Regular 28px/42px Poppins;
    letter-spacing: 0;
    color: #497dd5;
    opacity: 1;
    font-size: 20px;
  }
}
.PhoneNumber {
  text-align: left;
  font: Regular 20px/30px Poppins;
  letter-spacing: 0;
  color: #484848;
  opacity: 1;
}
.exampleInputEmail5 {
  border: 0.5px solid #707070;
  border-radius: 13px;
  opacity: 1;
}

.AmountRequesting {
  text-align: left;
  font: Regular 20px/30px Poppins;
  letter-spacing: 0;
  color: #484848;
  opacity: 1;
}
#Buttons {
  margin-top: 80px;
  margin-left: 60px;
}
.Cancel {
  background: #f9f9f9 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 0.5px solid #707070;
  border-radius: 14px;
  opacity: 1;
  text-align: left;
  font: Semibold 22px/30px Segoe UI;
  letter-spacing: 0;
  color: #484848;
  opacity: 1;
  left: 110px;
}
.Sends {
  background: #497dd5 0% 0% no-repeat padding-box;
  border-radius: 14px;
  opacity: 1;
  text-align: left;
  font: Semibold 22px/30px Segoe UI;
  letter-spacing: 0;
  color: #efefef;
  opacity: 1;
}
#form-group2 {
  margin-top: 40px;
}


