<section class="login-block">
  <!-- Container-fluid starts -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <!-- Authentication card start -->

        <form class="md-float-material form-material" action="javascript:">
          <div class="text-center">
            <img src="assets/images/logo.png" alt="logo.png">
          </div>
          <div class="auth-box card">
            <div class="card-block">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-left">Recover your password</h3>
                </div>
              </div>

              <div class="form-group form-primary">
                <input type="text" name="email-address" class="form-control" required="">
                <span class="form-bar"></span>
                <label class="float-label">Your Email Address</label>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <button type="button" class="btn btn-primary btn-md btn-block text-center m-b-20 ripple light">Reset Password</button>
                </div>
              </div>
              <p class="f-w-600 text-right">Back to <a [routerLink]="['/auth/login']">Login.</a></p>
              <div class="row">
                <div class="col-md-10">
                  <p class="text-inverse text-left"><a [routerLink]="['/home']"><b>Back to website</b></a></p>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- end of col-sm-12 -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container-fluid -->
</section>
