<div class="full">
  <section class="login-block">
    <!-- Container-fluid starts -->
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <!-- Authentication card start -->
          <form class="md-float-material form-material" [formGroup]='loginForm' >
            <div class="auth-box card">
              <div class="card-block">
                <div class="row m-b-20">
                  <div class="col-md-12">
                    <h3 class="text-center">Sign In</h3>
                  </div>
                </div>
                <div class="form-group form-primary">
                  <mat-form-field class="col-md-12">
                    <mat-label>Phone number</mat-label>
                    <span matPrefix>+233 &nbsp;</span>
                    <input type="tel" matInput  formControlName='phone_number'/>
                  </mat-form-field> 
                </div>
                <div class="form-group form-primary">
                  <mat-form-field class="col-md-12" >
                    <mat-label>Password</mat-label>
                    <input type="tel" matInput  formControlName='password'/>
                  </mat-form-field>
                </div>
                <div class="row m-t-25 text-left">
                  <div class="col-12">
                    <div class="checkbox-fade fade-in-primary d-">
                      <label>
                        <input type="checkbox" value="" />
                        <span class="cr"
                          ><i class="cr-icon fa fa-check txt-primary"></i
                        ></span>
                        <span class="text-inverse">Remember me</span>
                      </label>
                    </div>
                    <div class="forgot-phone text-right float-right">
                      <a
                        
                        class="text-right f-w-600"
                      >
                        Forgot Password?</a
                      >
                    </div>
                  </div>
                </div>
                <div class="row m-t-30">
                  <div class="col-md-12">
                    <button
                      type="submit"
                      class="btn btn-primary btn-md btn-block text-center m-b-20 ripple light"
                      (click)='OnLogin()'
                    >
                      Sign in
                    </button>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-md-10">
                    <p class="text-inverse text-right">
                      Don't you have an account yet ?
                      <a [routerLink]="['/auth/register']"
                        ><b>Create it here</b></a
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <!-- end of form -->
        </div>
        <!-- end of col-sm-12 -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of container-fluid -->
  </section>
  
</div>

