.container {
  display: flex;
  justify-content: center;
  .card-body {
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
    .termeConditions {
      font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
      font-weight: 400;
      font-size: 25px;
      color: #000000;
    }
    .P1 {
      font-size: Arial;
      font-weight: 600;
      font-size: 13px;
      color: #000000;
    }
    .speci1 {
      font-family: Roboto;
      font-weight: 400;
      font-size: 14px;
      font-style: normal;
      color: #212529;
      line-height: 7px;
    }
    .speci2{
    margin-left: 40px;
      .speci3{
        font-family: Roboto;
        font-weight: 400;
        font-size: 16px;
        font-style: normal;
        color: #212529;
      }
    }
    h4{
      font-family: docs-Roboto - 700;
      font-style: normal;
      font-weight: 700;
      color:#007bff;
      font-size: 16px;
    }
  }
}
